{% extends 'new_base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% block gentellacss %}
<link rel="stylesheet" href="{% static 'gentella/iCheck/skins/flat/green.css'%}">
<link rel="stylesheet" href="{% static 'gentella/switchery.min.css'%}">
<style>
    .errorlist {
        color: red;
    }
</style>
{% endblock %}
{% block title %}{% trans 'Settings' %}{% endblock %}
{% block body %}


<p>{% trans 'Please follow the steps to setup your payouts settings.' %}</p>
<div id="disb_widget" class="form_wizard wizard_horizontal">
    <ul class="wizard_steps">
    
        <li>
            <a href="#step-1">
                <span class="step_no">{{1|localize}}</span>
                <span class="step_descr">
                    {% trans 'Collection' %}<br />
                    <small>{% trans 'Add Collection Data' %}</small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step-2">
                <span class="step_no">{{2|localize}}</span>
                <span class="step_descr">
                    {% trans 'Format' %}<br />
                    <small>{% trans 'Add File Formats' %}</small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step-3">
                <span class="step_no">{{3|localize}}</span>
                <span class="step_descr">
                    {% trans 'Uploaders' %}<br />
                    <small>{% trans 'Add Uploaders' %}</small>
                </span>
            </a>
        </li>
    
    
    
    </ul>

    {% include "users/setting-up-collection/collection_form.html" with form=form %}

</div>

{% endblock %}

{% block script %}
<script src="{% static 'gentella/jquery.smartWizard.js' %}"></script>
<script src="{% static 'gentella/switchery.min.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function () {
        //press next when user press enter
    
        var wizard = $('#disb_widget').smartWizard({
            selected: 0,//0 indexed
            labelNext: ' {% trans "Next" %} ',
            labelPrevious: ' {% trans "Previous" %} ',
            labelFinish: ' {% trans "Finish" %} ',
            keyNavigation: false,
            onLeaveStep: leaveAStepCallback

        });

        let enabled_steps = "{{enabled_steps}}";

        enabled_steps = enabled_steps.split('-');

        enabled_steps.forEach(element => {
            //1 indexed
            $('#disb_widget').smartWizard('enableStep', parseInt(element));

        });


        function leaveAStepCallback(obj, context) {
            let action = $("form").attr('action') + '?to_step=' + context.toStep;
            $("form").attr('action', action)
            $("form").submit();
        }


    });

</script>
<script src="{% static 'js/submit_enter_btn.js' %}"></script>
{% endblock %}