{% extends 'base_form_singlepage.html' %}
{% block title %} Login {% endblock %}
{% block form %}
    <form method="post">
        {% csrf_token %}
      <h1>Login</h1>
      <div>
        <input type="text" class="form-control" placeholder="Email address" required name="email"/>
      </div>
      <div>
        {% if error_invalid %}
            <span style="color: #761c19">{{ error_invalid }}</span>
        {% endif %}
      </div>
      <div>
        <input style="float: none; margin-left: auto;" class="btn btn-default submit" type="submit" value="Reset my password">
      </div>

      <div class="clearfix"></div>

      <div class="separator">

        <div class="clearfix"></div>
        <br />

        <div>
          <h1>Payroll Dashboard</h1>
          <p>©2019 All Rights Reserved. Payroll Dashoard! is a Paymob solution. Privacy and Terms</p>
        </div>
      </div>
    </form>
{% endblock %}