{% load i18n %}
{% load transactions_tags i18n %}

<div class="x_content">
  <table class="table table-striped table-bordered" id="transaction-table">
    <thead>
    <tr>
      <th style="width: 22%">{% trans 'Reference' %}</th>
      <th>{% trans 'Recipient Name' %}</th>
      <th>{% trans 'Recipient Account Number' %}</th>
      <th>{% trans 'Recipient Bank' %}</th>
      <th>{% trans 'Amount' %}</th>
      <th>{% trans 'Status' %}</th>
      <th>{% trans 'Code' %}</th>
      <th>{% trans 'Created At' %}</th>
    </tr>
    </thead>

    <tbody>
    {% for trx in transactions %}
      <tr data-href="#">
        <td>{{ trx.parent_transaction.transaction_id }}</td>
        <td>{{ trx.creditor_name }}</td>
        <td>{{ trx.creditor_account_number }}</td>
        <td>{{ trx.creditor_bank }}</td>
        <td>{{ trx.amount }}</td>
        <td>{{ trx.status|status }}</td>
        <td>{{ trx.transaction_status_code }}</td>
        <td>{{ trx.created_at }}</td>
      </tr>

    {% endfor %}
    </tbody>
  </table>

  {% include 'pagination.html' %}
</div>
