{% load i18n %}
{% load transactions_tags i18n %}

<div class="x_content">
  <table class="table table-bordered" id="transaction-table">
    <thead>
    <tr>
      <th>{% trans 'Reference' %}</th>
<!--      <th>{% trans 'Recipient Name' %}</th>-->
      <th>{% trans 'Recipient Account Number' %}</th>
<!--      <th>{% trans 'Recipient Bank' %}</th>-->
      <th>{% trans 'Amount' %}</th>
      <th>{% trans 'Status' %}</th>
<!--      <th>{% trans 'Code' %}</th>-->
      <th>{% trans 'Updated At' %}</th>
    </tr>
    </thead>

    <tbody>
    {% for trx in transactions %}
      <tr data-id="{{ trx.parent_transaction.transaction_id }}"
          data-creditor_name="{{ trx.creditor_name }}"
          data-creditor_account_number="{{ trx.creditor_account_number }}"
          data-creditor_bank="{{ trx.creditor_bank }}"
          data-amount="{{ trx.amount }}"
          data-status="{{ trx.status|status }}"
          data-status_code="{{ trx.transaction_status_code }}"
          data-updated_at="{{ trx.updated_at }}"
          data-created_at="{{ trx.parent_transaction.created_at }}"
          data-status_description="{{ trx.transaction_status_description }}"
          class="row-hover"
          data-href="#">
        <td>{{ trx.parent_transaction.transaction_id }}</td>
<!--        <td>{{ trx.creditor_name }}</td>-->
        <td>{{ trx.creditor_account_number }}</td>
<!--        <td>{{ trx.creditor_bank }}</td>-->
        <td>{{ trx.amount }}</td>
        <td>{{ trx.status|status }}</td>
<!--        <td>{{ trx.transaction_status_code }}</td>-->
        <td>{{ trx.updated_at }}</td>
      </tr>

    {% endfor %}
    </tbody>
  </table>

  {% include 'pagination.html' %}
</div>
