{% extends 'new_base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load custom_tags %}

{% block title %} {% trans 'Transactions' %} {% endblock %}

{% block body %}
  <div class="well upload-nav col-xs-12">
    <h4><strong>{% trans 'IMPORTANT: DISBURSEMENT FOR BANK ACCOUNTS/WALLETS IS AVAILABLE NOW, CHECK THE UPDATED API DOCUMENTATION!' %}</strong></h4>
  </div>

  {% if not bank_transactions and not instant_transactions %}
    <div class="well upload-nav col-xs-12">
      <strong style="margin-top: 15px;">{% trans 'You do not have any transactions yet!' %}</strong>
    </div>

  {% else %}

    <!-- page content -->
    <div class="col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3></h3>
          </div>
          <div class="title_right">
            <form action="." method="get">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-{{'right'|invert_dir:LANGUAGE_CODE}} top_search">
                <div class="input-group">
                  <input type="text" class="form-control" name="search" value="{{ search }}" placeholder="Search for a transaction...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" value="search">{% trans 'Go!'%}</button>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2><strong>{% trans 'Transactions Summary' %}</strong></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>

              {% if bank_transactions %}
                {% include 'instant_cashin/banks_transactions.html' with transactions=bank_transactions %}
              {% else %}
                {% include 'instant_cashin/wallets_transactions.html' with transactions=instant_transactions %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
