{% extends 'new_base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load custom_tags %}

{% block title %} {% trans 'Transactions' %} {% endblock %}

{% block gentellacss %}
  <link href="{% static 'css/transaction_details.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap_alerts.css' %}" rel="stylesheet">
  <style>
    #trxDetailsDataRight > li > span{
      {% if bank_transactions %}
        width: 120px;
      {% else %}
        width: 90px;
      {% endif %}
    }
  </style>
{% endblock %}

{% block body %}

  {# page content #}
  <div class="col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          {% if is_bank_transactions == 'yes' %}
            <h3>{% trans 'Bank Accounts/Cards Transactions' %}{% if request.user.is_support %}: {{ admin }} {% endif %}</h3>
          {% else %}
            <h3>{% trans 'Wallets/Aggregators Transactions' %}{% if request.user.is_support %}: {{ admin }} {% endif %}</h3>
          {% endif %}
        </div>
        {% include 'search_bar.html' %}
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><strong>{% trans 'Transactions Summary' %}</strong></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>

            {% if is_bank_transactions == 'yes' %}
              {% include 'instant_cashin/banks_transactions.html' with transactions=bank_transactions %}
            {% else %}
              {% include 'instant_cashin/wallets_transactions.html' with transactions=instant_transactions %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {# end of page content #}

  {# transaction details #}
  <div id="trxDetails" style="display: none;" class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2 class="font-13 m-b-30" style="font-weight: bolder;">{% trans 'Transaction Details' %}</h2>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <ul id="trxDetailsData">
              </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <ul id="trxDetailsDataRight">
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <ul id="trxDetailsDataLast">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# end of transaction details #}
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="{% static 'gentella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>


  <script>
    $(document).ready( function () {
      let empty_row = $('.dataTables_empty');
      console.log(empty_row);
      if (empty_row) {
        empty_row.parent().attr('id', 'empty_row');
      }
    });
    $('#transaction-table tbody').on('click', 'tr:not(#empty_row)', function () {
      if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
        $("#trxDetails").slideUp().fadeOut();
      } else {
        $('tr.selected').removeClass('selected');
        $(this).addClass('selected');
        let ul = $('#trxDetailsData');
        let ulRight = $('#trxDetailsDataRight');
        let ulLast = $('#trxDetailsDataLast');
        let appendedTags = '';

        let uid = $(this).data('id');
        appendedTags += `<li><span>{% trans 'Transaction ID' %}</span><b>:</b>${uid}</li>`;

        {% if bank_transactions %}
          let creditor_account_number = $(this).data('creditor_account_number');
          appendedTags += `<li><span>{% trans 'Recipient' %}</span><b>:</b>${creditor_account_number}</li>`;
          let creditor_name = $(this).data('creditor_name');
          appendedTags += `<li><span>{% trans 'Full Name' %}</span><b>:</b>${creditor_name}</li>`;
        {% else %}
          let anon_recipient = $(this).data('anon_recipient');
          appendedTags += `<li><span>{% trans 'Recipient' %}</span><b>:</b>${anon_recipient}</li>`;
          let issuer_type = $(this).data('issuer_type');

          if (['Orange', 'Bank Wallet'].includes(issuer_type)) {
            let recipient_name = $(this).data('recipient_name');
            appendedTags += `<li><span>{% trans 'Full Name' %}</span><b>:</b>${recipient_name}</li>`;
          }
        {% endif %}
        let amount = $(this).data('amount');
        appendedTags += `<li><span>{% trans 'Amount' %}</span><b>:</b>${amount}</li>`;
        let status = $(this).data('status');
        appendedTags += `<li><span>{% trans 'Status' %}</span><b>:</b>${status}</li>`;

        ul.empty();
        ul.append(appendedTags);
        appendedTags = '';

        {% if bank_transactions %}
          let creditor_bank_code = $(this).data('creditor_bank_code');
          appendedTags += `<li><span>{% trans 'Bank Swift Code' %}</span><b>:</b>${creditor_bank_code}</li>`;
          let creditor_bank_name = $(this).data('creditor_bank_name');
          appendedTags += `<li><span>{% trans 'Bank Name' %}</span><b>:</b>${creditor_bank_name}</li>`;
          let transaction_type = $(this).data('transaction_type');
          appendedTags += `<li><span>{% trans 'Transaction Type' %}</span><b>:</b>${transaction_type}</li>`;
        {% else %}
          appendedTags += `<li><span>{% trans 'Issuer' %}</span><b>:</b>${issuer_type}</li>`;
          let aman_is_paid = $(this).data('aman_is_paid');

          {# Determine is_paid? status for aman transactions #}
          if (issuer_type === 'Aman') {
            if (aman_is_paid === 'True') {
              appendedTags += `<li><span>{% trans 'Cashed Out?' %}</span><b>:</b><span style="color: darkgreen">&#10004;</span></li>`;
            } else {
              appendedTags += `<li><span>{% trans 'Cashed Out?' %}</span><b>:</b><span style="color: darkred">&#10006;</span></li>`;
            }
          }
        {% endif %}
        let created_at = $(this).data('created_at');
        appendedTags += `<li><span>{% trans 'Created At' %}</span><b>:</b>${created_at}</li>`;
        let updated_at = $(this).data('updated_at');
        appendedTags += `<li><span>{% trans 'Updated At' %}</span><b>:</b>${updated_at}</li>`;

        ulRight.empty();
        ulRight.append(appendedTags);
        appendedTags = '';

        let status_code = $(this).data('status_code');
        appendedTags += `<li><span>{% trans 'Transaction Status Code' %}</span><b>:</b>${status_code}</li>`;
        let status_description = $(this).data('status_description');
        appendedTags += `<li><span>{% trans 'Transaction Status Description' %}</span><b>:</b>${status_description}</li>`;
        ulLast.empty();
        ulLast.append(appendedTags);
        $("#trxDetails").slideDown();
        $('html,body').animate({
          scrollTop: $("#trxDetails").offset().top
        }, 'slow');
     }
    });
  </script>

  <script>
    var table = $('#transaction-table').DataTable({
    "bLengthChange" : false,
    "bPaginate": false,
    "bInfo" : false
  });
  
  var buttons = new $.fn.dataTable.Buttons( table, {
        buttons: [
          {
                extend: 'copy',
                text : "{% trans 'Copy' %}",
                exportOptions: {
                    charSet: "utf-8",
                }
            },
            {
                extend: 'print',
                text : "PDF",
            },
            {
                extend: 'excelHtml5',
                text : "{% trans 'Export' %}",
                
                customize: function( xlsx ) {

                  var sheet = xlsx.xl.worksheets['sheet1.xml'];
                  $('row c[r^="A"]', sheet).attr( 's', '0' );
				       }
            }
        ]
    });
  
  table.buttons( 0, null ).container().prependTo(
        table.table().container()
    );
    </script>
    {% endblock %}