{% load static %}
{% load i18n %}

<div class="left_col scroll-view">

  {% include "sidebar_logo.html" %}

  {# sidebar menu #}
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li><a href="{% url 'disbursement:home_root' %}"><i class="fa fa-home"></i>{% trans 'Home' %}</a></li>
        <li><a href="{% url 'instant_cashin:wallets_trx_list' %}"><i class="fa fa-exchange"></i>{% trans 'Wallets Transactions' %}</a></li>
        <li><a href="{% url 'instant_cashin:banks_trx_list' %}"><i class="fa fa-exchange"></i>{% trans 'Banks Transactions' %}</a></li>

        {% if request.user.is_root %}
          <li><a><i class="fa fa-users"></i>{% trans 'Members' %}<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a>{% trans 'Add member' %}<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="{% url 'users:add_viewer' %}">{% trans 'Viewer' %}</a></li>
                  <li><a href="{% url 'users:add_api_checker' %}">{% trans 'API Checker' %}</a></li>
                </ul>
              </li>
              <li><a href="{% url 'users:members' %}">{% trans 'All members' %}</a></li>
            </ul>
          </li>
          <li><a href="{% url 'disbursement:balance_inquiry' username=request.user.username %}"><i class="fa fa-suitcase"></i>{% trans 'Balance Inquiry' %}</a></li>
        {% endif %}

        <li><a>
          <img style="width: 19px;margin-right: 6px;" src="{% static 'img/money_plus.png' %}">{% trans 'Transfer Request' %}
          <span class="fa fa-chevron-down"></span>
        </a>
          <ul class="nav child_menu">
            <li><a href="{% url 'utilities:transfer_request' %}">{% trans 'Add Transfer Request' %}</a></li>
            <li><a href="{% url 'utilities:list_transfer_request' %}">{% trans 'All Transfer Requests' %}</a></li>
          </ul>
        </li>
        <li><a href="{% url 'docs:instant_docs' path='' %}" rel="noopener" target="_blank"><i class="fa fa-book"></i>{% trans 'API Documentation'%}</a></li>
        {% if request.user.user_type == 7 %}
          <li><a href="{% url 'disbursement:balance_inquiry' username=request.user.root.username %}"><i class="fa fa-suitcase"></i>{% trans 'Balance Inquiry' %}</a></li>
        {% endif %}
        <li><a href="{% url 'users:profile' request.user.username %}"><i class="fa fa-user"></i>{% trans 'Profile' %}</a></li>
        {% if request.user.user_type == 7 %}
          <li><a href="{% url 'users:api_viewer_callback' request.user.username %}"><i class="fa fa-sliders"></i>{% trans 'Callback URL'%}</a></li>
        {% endif %}
        <li><a href="{% url 'users:session_list' %}"><i class="fa fa-clock-o"></i>{% trans 'Active Sessions' %}</a></li>
      </ul>
    </div>
  </div>
  {# End of Sidebar menu #}

</div>