{% load i18n %}

<div class="x_content">
  <table class="table table-bordered" id="transaction-table">
    <thead>
      <tr>
        <th class="trxTableHeader">{% trans 'Transaction ID' %}</th>
        <th class="trxTableHeader">{% trans 'Recipient' %}</th>
        <th class="trxTableHeader">{% trans 'Amount' %}</th>
        <th class="trxTableHeader">{% trans 'Fees' %}</th>
        <th class="trxTableHeader">{% trans 'Vat' %}</th>
        <th class="trxTableHeader">{% trans 'Issuer' %}</th>
        <th class="trxTableHeader">{% trans 'Status' %}</th>
        <th class="trxTableHeader">{% trans 'Updated At' %}</th>
      </tr>
    </thead>

    <tbody>
      {% for transaction in transactions %}
        <tr data-id="{{ transaction.uid }}"
            data-anon_recipient="{{ transaction.anon_recipient }}"
            data-recipient_name="{{ transaction.recipient_name }}"
            data-amount="{{ transaction.amount }}"
            data-status="{{ transaction.status_choice_verbose }}"
            data-issuer_type="{{ transaction.issuer_choice_verbose }}"
            data-created_at="{{ transaction.created_at }}"
            data-updated_at="{{ transaction.updated_at }}"
            data-status_code="{{ transaction.transaction_status_code }}"
            data-status_description="{{ transaction.transaction_status_description }}"
            data-aman_is_paid="{{ transaction.aman_transaction.is_paid }}"
            class="row-hover"
            data-href="#">
          <td>{{ transaction.uid }}</td>
          <td>{{ transaction.anon_recipient }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.fees }}</td>
          <td>{{ transaction.vat }}</td>
          <td>{{ transaction.issuer_choice_verbose }}</td>
          <td>{{ transaction.status_choice_verbose }}</td>
          <td>{{ transaction.updated_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<ul class="pagination">

{% if transactions.has_previous %}
    <li><a href="?page={{ transactions.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
{% else %}
    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
{% endif %}

{% if transactions.number|add:'-4' > 1 %}
    <li><a href="?page={{ transactions.number|add:'-5' }}">&hellip;</a></li>
{% endif %}

{% for i in transactions.paginator.page_range %}
    {% if transactions.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > transactions.number|add:'-5' and i < transactions.number|add:'5' %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
{% endfor %}

{% if transactions.paginator.num_pages > transactions.number|add:'4' %}
    <li><a href="?page={{ transactions.number|add:'5' }}">&hellip;</a></li>
{% endif %}

{% if transactions.has_next %}
    <li><a href="?page={{ transactions.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
{% else %}
    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
{% endif %}

</ul>


<style>
.pagination > li > span {
  width: 33px;
}
</style>


  {% include 'pagination.html' %}
</div>