{% load i18n %}
{% load transactions_tags i18n %}

<div class="x_content">
  <table class="table table-striped table-bordered" id="transaction-table">
    <thead>
    <tr>
      <th style="width: 22%">{% trans 'Transaction ID' %}</th>
      <th>{% trans 'Recipient' %}</th>
      <th>{% trans 'Amount' %}</th>
      <th>{% trans 'Status' %}</th>
      <th>{% trans 'Channel' %}</th>
      <th>{% trans 'Created At' %}</th>
    </tr>
    </thead>

    <tbody>
    {% for trx in transactions %}
      <tr data-href="#">
        <td>{{ trx.uid }}</td>
        <td>{{ trx.anon_recipient }}</td>
        <td>{{ trx.amount }}</td>
        <td>{{ trx.status|status }}</td>
        <td>{{ trx.issuer_type|issuer_type }}</td>
        <td>{{ trx.created_at }}</td>
      </tr>

    {% endfor %}
    </tbody>
  </table>

  {% include 'pagination.html' %}
</div>