{% extends 'new_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ doc_list_header }}{% trans " | Disbursement Files" %}{% endblock title %}

{% block gentellacss %}
  <link rel="stylesheet" href="{% static 'gentella/vendors/dropzone/dist/min/dropzone.min.css' %}">
  <!-- Datatables -->
  <link href="{% static 'gentella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/disbursement_transactions_dashboard.css' %}" rel="stylesheet">
{% endblock gentellacss %}

{% block body %}
  {% if not has_vmt_setup %}
    <div class="well upload-nav col-xs-12">
      <strong style="margin-top: 15px;">{% trans 'Account is suspended due to uncompleted setups of your Admin!' %}</strong>
    </div>

    {% elif not admin_is_active %}
    <div class="well upload-nav col-xs-12">
      {% if request.user.is_root %}
        <strong style="margin-top: 15px;">{% trans "You're not active any more!" %}</strong>
      {% else %}
        <strong style="margin-top: 15px;">{% trans 'Your Admin is no longer active!' %}</strong>
      {% endif %}
    </div>

  {% elif request.user.is_maker %}
    <div class="well upload-nav col-xs-12">
      <h3 class="navbar-left col-xs-12">{% trans 'Upload Form' %}</h3>
      <div class="x_content">
        <form id="fileUpload" class="dropzone" action="{{ request.path }}" method="post"
              enctype="multipart/form-data">{% csrf_token %}
        </form>
      </div>
    </div>
  {% endif %}

  {% include 'data/document_disbursement_list.html' with object_list=banks_doc_list list_header=doc_list_header %}

  {# Modals - uploading sheets and deleting documents #}
  {% include 'data/upload-response-modals.html' %}
  {% include 'data/document_delete_modal.html' %}
  {# End of Modals - uploading sheets and deleting documents  #}
{% endblock body %}

{% block script %}
  <!-- Dropzone.js -->
  <script src="{% static 'gentella/vendors/dropzone/dist/min/dropzone.min.js' %}"></script>
  <!-- Datatables -->
  <script src="{% static 'gentella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script>
    $(function () {
      var table = $('#fileTable').DataTable({
    "bLengthChange" : false,
  });
  
  var buttons = new $.fn.dataTable.Buttons( table, {
        buttons: [
          {
                extend: 'copy',
                text : "Copy",
                exportOptions: {
                    charSet: "utf-8",
                }
            },
            {
                extend: 'print',
                text : "PDF",
            },
            {
                extend: 'excelHtml5',
                text : "Export",
                
                customize: function( xlsx ) {

                  var sheet = xlsx.xl.worksheets['sheet1.xml'];
                  $('row c[r^="A"]', sheet).attr( 's', '0' );
				       }
            }
        ]
    });
  
  table.buttons( 0, null ).container().prependTo(
        table.table().container()
    );

      Dropzone.options.fileUpload = {
        maxFiles: 1,
        dictDefaultMessage: '{% trans "Drop a file here to upload or click to browse one" %}',
        accept: function (file, done) {
          bootbox.confirm("Upload file?", function (result) {
            if (result) {
              done();
            } else {
              done('Upload cancelled');
            }
          });
        },
        init: function () {
          this.on("success", function (file, a, b) {
            $('#success-modal').modal('show');
            this.removeAllFiles();
          });
          this.on("error", function (file, message, obj) {
            this.removeAllFiles();
            var fail_modal = $('#fail-modal');
            if (message['file'])
              fail_modal.find('.modal-body #p1').text(message.file[0]);
            if (message['non_field_errors'])
              fail_modal.find('.modal-body #p2').text(message.non_field_errors[0]);
            if (message === 'Upload cancelled')
              fail_modal.find('.modal-body #p1').text(message);

            fail_modal.modal('show');
          });
        }
      }
    });
  </script>

  <script>
    var transaction_types_list_group = $("#transaction_types_list").hide();
    var bank_codes_list_group = $("#bank_codes_list").hide();

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    $("#bank_codes_btn").click(function () {
      var bank_codes_desc_header = '<span class="glyphicon glyphicon-list-alt"></span> {% trans "Banks Swift Codes" %}'
      $("#description_header").html(bank_codes_desc_header);
      transaction_types_list_group.hide();
      bank_codes_list_group.show();

      $("#bank_accounts_description_modal").modal();
    });

    $("#transaction_types_btn").click(function () {
      var transaction_type_desc_header = '<span class="glyphicon glyphicon-list-alt"></span> {% trans "Transactions Types" %}'
      $("#description_header").html(transaction_type_desc_header);
      bank_codes_list_group.hide();
      transaction_types_list_group.show();

      $("#bank_accounts_description_modal").modal();
    });

    $('#export_bank_wallets_sample_file').on('click', function () {
      window.open('{% url 'disbursement:export_sample_file' %}?type=bank_wallets', '_blank');
    });

    $('#export_bank_cards_sample_file').on('click', function () {
      window.open('{% url 'disbursement:export_sample_file' %}?type=bank_cards', '_blank');
    });
  </script>

  {% include 'data/document_delete_script.html' %}
{% endblock script %}