{% extends 'new_base.html' %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% load banks_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'Document details' %} {% endblock %}

{% block customcss %}
  {# Datatables #}
  <link href="{% static 'gentella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/disbursement_transactions_dashboard.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap_alerts.css' %}" rel="stylesheet">
  <link href="{% static 'css/transaction_details.css' %}" rel="stylesheet">
  <style>
    .user_name {
      font-size: 14px;
      font-weight: bold;
    }

    .comments-list .media {
      border-bottom: 1px dotted #ccc;
    }

    .error_span {
      color: red;
    }

    #trxDetailsData > li > span {
      width: 160px;
      color: #73879C;
    }
    #trxDetailsDataRight > li > span {
      width: 120px;
    }

    ul > li > b {
      margin-right: 5px;
      color: #777;
    }

    #notify_button {
      width: 13rem !important;
    }

    #disburse_button {
      width: 11rem !important;
    }

    #download-doc {
      width: 17rem !important;
      margin-right: 10px;
      color: #333;
    }

    #download-doc span {
      color: #333;
    }
  </style>
{% endblock %}

{% block body %}

  {# Button #}
  <div class="row dashboard-row">
    <div class="col-md-3 col-sm-3 col-xs-3 data_element">
      <span class="count_top">{% trans 'All' %}</span>
      <div class="count">{{ doc.total_count }}</div>
      <span>Total {{ doc.total_amount }} {% trans 'LE' %}</span>
    </div>
    {# checker buttons #}
    {% if request.user.is_checker %}
      <div class="col-md-9 pull-{{'right'|invert_dir:LANGUAGE_CODE}}">
        {% if can_user_disburse.can_disburse %}
          <button id="disburse_button" class="btn btn-default export-dropdown pull-{{'right'|invert_dir:LANGUAGE_CODE}}">
            <i class="fa fa-money" aria-hidden="true"></i> {% trans 'Disburse' %}
          </button>
        {% elif can_user_disburse.code == 3 or can_user_disburse.code == 4 or can_user_disburse.code == 5 %}
          <div class="alert alert-danger pull-{{'right'|invert_dir:LANGUAGE_CODE}}" role="alert" style="margin-top: 12px;">
            {{ can_user_disburse.reason }} <span class="glyphicon glyphicon-remove"></span>
          </div>
        {% else %}
          <div class="alert alert-info pull-{{'right'|invert_dir:LANGUAGE_CODE}}" role="alert" style="margin-top: 12px;">
            {{ can_user_disburse.reason }} <span>⏳</span>
          </div>
        {% endif %}
      </div>

      {# maker buttons #}
    {% elif request.user.is_maker %}
      <div class="col-md-9 pull-{{'right'|invert_dir:LANGUAGE_CODE}}">
        {% if doc.is_processed and not doc.can_be_disbursed %}
          <button id="notify_button" class="btn btn-default export-dropdown pull-{{'right'|invert_dir:LANGUAGE_CODE}}" data-url="{% url 'disbursement_api:allow_doc_disburse' doc.id %}">
            <span class="glyphicon glyphicon-bell"></span> {% trans 'Notify Checkers' %}
          </button>
          {% elif doc.can_be_disbursed %}
          <div class="alert alert-success pull-{{'right'|invert_dir:LANGUAGE_CODE}}" role="alert">
            {% trans 'Checkers Notified' %} <span class="glyphicon glyphicon-ok"></span>
          </div>
          {% elif doc.processing_failure_reason %}
          <div class="alert alert-danger pull-{{'right'|invert_dir:LANGUAGE_CODE}}" role="alert">
            {{ doc.processing_failure_reason }} <span class="glyphicon glyphicon-remove"></span>
          </div>
        {% else %}
          <div class="alert alert-info pull-{{'right'|invert_dir:LANGUAGE_CODE}}" role="alert">
            {% trans 'Pending' %} <span>⏳</span>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>

  {# Reviews Section #}
  {% if request.user.is_checker and not hide_review_form and can_review %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{% trans 'Review' %}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br/>
            <form class="form-horizontal form-label-left" method="post" id="reviewForm" action="{% url 'data:doc_viewer' doc.id %}">
              {% csrf_token %}
              {% if review_form_errors %}<span class="error_span">{{ review_form_errors }}</span>{% endif %}
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{% trans 'Accept or Reject' %}</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <select name="is_ok" class="form-control" id="reviewSelect">
                    <option value="1">{% trans 'Accept' %}</option>
                    <option value="0">{% trans 'Reject' %}</option>
                  </select>
                </div>
              </div>

              <div hidden class="form-group" id="reviewComment">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{% trans 'Rejection reason' %}
                  <span class="required">*</span>
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <textarea name="comment" class="form-control" rows="3"></textarea>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <button type="submit" class="btn btn-success">{% trans 'Submit' %}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if reviews and reviews.exists %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{% trans 'Reviews' %}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <ul class="messages">
              {% for review in reviews %}
                <li>
                  <img src="{{ review.user_created.avatar_thumbnail.url }}" class="avatar" alt="Avatar">
                  <div class="message_wrapper">
                    <h4 class="heading">{{ review.user_created.username }}
                      {% if review.user_created.first_name %}
                        <small>({{ review.user_created.first_name }})</small>
                      {% endif %}

                      {% if review.is_ok %}
                        <span style="color:green" class="alignright glyphicon glyphicon-ok" aria-hidden="true"></span>
                      {% else %}
                        <span style="color:red" class="alignright glyphicon glyphicon-remove" aria-hidden="true"></span>
                      {% endif %}
                    </h4>

                    {% if review.comment %}
                      <blockquote class="message">{{ review.comment }}</blockquote><br/>
                    {% endif %}
                    <p class="url">{{ review.timestamp|date }}</p>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {# End of Reviews Section #}

  {# Data table #}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{% if doc.is_bank_wallet %}{% trans 'Bank wallets/Orange Document Transactions' %}{% else %}{% trans 'Bank Accounts/Cards Document Transactions' %}{% endif %}</h2>
          <ul class="nav navbar-right panel_toolbox">
            {% if request.user.is_root and not doc.is_disbursed %}
              <li>
                <button data-uri="{{ doc.get_delete_url }}" class="btn btn-danger btn-md" onclick="delete_func(this)"> {% trans 'Delete' %}
                </button>
              </li>
            {% endif %}
            <li>
              <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        {% if doc.is_processed %}
          <div class="x_content">
            <table id="doc-datatable" class="table table-bordered">
              {% if doc.is_bank_wallet %}
                <thead>
                <th>{% trans 'Transaction ID' %}</th>
                <th>{% trans 'Wallet number' %}</th>
                <th>{% trans 'Amount' %}</th>
                <th>{% trans 'Issuer' %}</th>
                </thead>
                <tbody>
                {% for trx  in doc_transactions %}
                  <tr data-id="{{ trx.uid }}"
                      data-anon_recipient="{{ trx.anon_recipient }}"
                      data-amount="{{ trx.amount }}"
                      data-recipient_name="{{ trx.recipient_name }}"
                      data-issuer="{{ trx.issuer_choice_verbose }}"
                      data-doc_maker="{{ doc.owner }}"
                      data-doc_id="{{ doc.id }}"
                      class="row-hover">
                    <td>{{ trx.uid }}</td>
                    <td>{{ trx.anon_recipient }}</td>
                    <td>{{ trx.amount }}</td>
                    <td>{{ trx.issuer_choice_verbose }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              {% else %}
                <thead>
                <th>{% trans 'Transaction ID' %}</th>
                <th>{% trans 'Account number / IBAN' %}</th>
                <th>{% trans 'Amount' %}</th>
                </thead>
                <tbody>
                {% for trx  in doc_transactions %}
                  <tr data-id="{{ trx.parent_transaction.transaction_id }}"
                      data-creditor_account_number="{{ trx.creditor_account_number }}"
                      data-amount="{{ trx.amount }}"
                      data-creditor_name="{{ trx.creditor_name }}"
                      data-creditor_bank="{{ trx.creditor_bank }}"
                      data-bank_name="{{ trx.creditor_bank|bank_name }}"
                      data-type="{{ trx|transaction_type }}"
                      data-doc_maker="{{ doc.owner }}"
                      data-doc_id="{{ doc.id }}"
                      class="row-hover">
                    <td>{{ trx.parent_transaction.transaction_id }}</td>
                    <td>{{ trx.creditor_account_number }}</td>
                    <td>{{ trx.amount }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              {% endif %}
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {# transaction details #}
  <div id="trxDetails" style="display: none;" class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2 class="font-13 m-b-30" style="font-weight: bolder;">{% trans 'Transaction Details' %}</h2>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7">
              <ul id="trxDetailsData">
              </ul>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
              <ul id="trxDetailsDataRight">
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <ul id="trxDetailsDataLast">
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="myModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="modal-header"></h4>
        </div>
        <div class="modal-body">
          <p id="modal-message"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>
  <div id="AgentModal" class="modal fade hide" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="agent-modal-header">{% trans 'Enter Agent Pin' %}</h4>
        </div>
        <div class="form-group">
          <form method="post" id="pinform" action="{% url 'disbursement:disburse' doc.id %}">
            {% csrf_token %}
            <div class="modal-body">
              <label for="agent-pin">{% trans 'Pin' %}</label>
              <input type="password" id="agent-pin" name="pin" class="form-control" placeholder="{% trans 'pin' %}" required autocomplete="new-password">
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-default" value="{% trans 'Submit' %}"
                     onClick="this.form.submit(); this.disabled=true; this.value='Disbursing...';">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include 'data/document_delete_modal.html' %}
{% endblock %}

{% block script %}
  {# Datatables #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="{% static 'gentella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script>
    var table = $('#doc-datatable').DataTable({
    "bLengthChange" : false,
  });
  
  var buttons = new $.fn.dataTable.Buttons( table, {
        buttons: [
          {
                extend: 'copy',
                text : "Copy",
                exportOptions: {
                    charSet: "utf-8",
                }
            },
            {
                extend: 'print',
                text : "PDF",
            },
            {
                extend: 'excelHtml5',
                text : "Export",
                
                customize: function( xlsx ) {

                  var sheet = xlsx.xl.worksheets['sheet1.xml'];
                  $('row c[r^="A"]', sheet).attr( 's', '0' );
				       }
            }
        ]
    });
  
  table.buttons( 0, null ).container().prependTo(
        table.table().container()
    );

    $(document).ready(function () {

      $("#disburse_button").on("click", function () {
        $('#AgentModal').removeClass('hide');
        $('#AgentModal').modal();
      });

      if ('{{ redirect }}' == 'true') {
        if ('{{ disburse }}' == 1) {
          $('#modal-header').append("{% trans 'Disbursed, Thanks!' %}");
          $('#modal-message').append('<p>{% trans "Disbursement process is running, you can check reports later" %}</p><br>');
          $('#myModal').removeClass('hide');
          $('#myModal').modal();
        } else if ('{{ disburse }}' == 0) {
          $('#modal-header').append('{% trans "Error occurred, We are sorry!" %}');
          $('#modal-message').append('<p>{% trans "Disbursement process stopped during an internal error, can you try again or contact you support team" %}</p><br>');
          $('#myModal').removeClass('hide');
          $('#myModal').modal();
        } else if ('{{ disburse }}' == 400) {
          $('#modal-header').append('{% trans "Error occurred from your side!" %}');
          $('#modal-message').append('<p>{% trans "Pin you entered is not correct, can you try again or contact you support team." %}</p>');
          $('#myModal').removeClass('hide');
          $('#myModal').modal();
        } else if ('{{ disburse }}' == -1) {
          $('#modal-header').append('{% trans "Error occurred from your side" %}');
          if ('{{ utm_validate }}' == 'false') {
            $('#modal-message').append("<p>{% trans 'This document is disbursed before, if there is any error, please return back to the support team' %}</p><br>");
          }
          {% if utm_owner %}
            if ('{{ utm_owner }}' == 'false') {
              $('#modal-message').append('{% trans "You can not disburse this document" %}');
            }
          {% endif %}
          $('#myModal').removeClass('hide');
          $('#myModal').modal();
        } else {

        }
      }

      if ("{{ review_form_errors }}" !== 'None') {
        $('#reviewComment').show();
        $('#reviewSelect').val(0)
      }

      $('#reviewSelect').on('change', function () {
        if (this.value == 1)
          $('#reviewComment').hide();
        else
          $('#reviewComment').show();
      });
    });
  </script>

  <script>
    $(function () {
      $("#notify_button").on("click", function () {
        let btn = $(this)
        let url = btn.attr("data-url");
        $.ajax({
          type: "POST",
          url: url,
          success: function (result, xhr, message) {
            elem = `<div class="alert alert-info pull-{{'right'|invert_dir:LANGUAGE_CODE}}" role="alert">
                        {% trans 'Checkers Notified' %} <span class="glyphicon glyphicon-ok"></span>
                    </div>`
            btn.replaceWith(elem)
          },
          error: function (xhr, error, reason) {
            $('#modal-header').append('{% trans "Error Occurred!" %}');
            $('#modal-message').append('<p>{% trans "It seems that you do not have access or request a wrong document" %}</p><br>');
            $('#myModal').removeClass('hide');
            $('#myModal').modal();
          }
        });
      });
    });
  </script>

  <script>
    $('#doc-datatable tbody').on('click', 'tr', function () {

      if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
        $("#trxDetails").slideUp().fadeOut();
      } else {
        $('tr.selected').removeClass('selected');
        $(this).addClass('selected');
        let ul = $('#trxDetailsData');
        let ulRight = $('#trxDetailsDataRight');
        let appendedTags = '';

        {% if doc.is_bank_wallet %}
          let uid = $(this).data('id');
          appendedTags += `<li><span>Transaction ID</span><b>:</b>${uid}</li>`;
          let anon_recipient = $(this).data('anon_recipient');
          appendedTags += `<li><span>Wallet Number</span><b>:</b>${anon_recipient}</li>`;
          let amount = $(this).data('amount');
          appendedTags += `<li><span>Amount</span><b>:</b>${amount}</li>`;
          let recipient_name = $(this).data('recipient_name');
          appendedTags += `<li><span>Full Name</span><b>:</b>${recipient_name}</li>`;

        {% else %}

          let uid = $(this).data('id');
          appendedTags += `<li><span>Transaction ID</span><b>:</b>${uid}</li>`;
          let creditor_account_number = $(this).data('creditor_account_number');
          appendedTags += `<li><span>Account number / IBAN</span><b>:</b>${creditor_account_number}</li>`;
          let amount = $(this).data('amount');
          appendedTags += `<li><span>Amount</span><b>:</b>${amount}</li>`;
          let creditor_name = $(this).data('creditor_name');
          appendedTags += `<li><span>Full Name</span><b>:</b>${creditor_name}</li>`;
          let creditor_bank = $(this).data('creditor_bank');
          appendedTags += `<li><span>Bank Swift Code</span><b>:</b>${creditor_bank}</li>`;
          let bank_name = $(this).data('bank_name');
          appendedTags += `<li><span>Bank Name</span><b>:</b>${bank_name}</li>`;
          let type = $(this).data('type');
          appendedTags += `<li><span>Transaction Type</span><b>:</b>${type}</li>`;
        {% endif %}

        ul.empty();
        ul.append(appendedTags);
        appendedTags = '';

        {% if doc.is_bank_wallet %}
          let issuer = $(this).data('issuer');
          appendedTags += `<li><span>Issuer</span><b>:</b>${issuer}</li>`;
        {% endif %}

        let doc_id = $(this).data('doc_id');
        appendedTags += `<li><span>Document ID</span><b>:</b>${doc_id}</li>`;
        let doc_maker = $(this).data('doc_maker');
        appendedTags += `<li><span>Maker</span><b>:</b>${doc_maker}</li>`;

        ulRight.empty();
        ulRight.append(appendedTags);

        $("#trxDetails").slideDown();
        $('html,body').animate({
          scrollTop: $("#trxDetails").offset().top
        }, 'slow');
      }
    });
  </script>

  {% include 'data/document_delete_script.html' %}
{% endblock %}
