{% extends 'new_base.html' %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'Document details' %} {% endblock %}
{% block customcss %}
  <!-- Datatables -->
  <link href="{% static 'gentella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">

  <style>
      .user_name{
          font-size:14px;
          font-weight: bold;
      }
      .comments-list .media{
          border-bottom: 1px dotted #ccc;
      }
      .error_span{
          color: red;
      }
  </style>
{% endblock %}

{% block body %}

  <!-- button -->
  <div class="row">
    <!-- checker buttons -->
    {% if request.user.is_checker %}
      <div class="col-md-12 pull-{{'right'|invert_dir:LANGUAGE_CODE}}">
        {% if can_user_disburse.can_disburse and doc.total_amount <= request.user.level.max_amount_can_be_disbursed %}
          <button id="disburse_button" class="btn btn-success pull-{{'right'|invert_dir:LANGUAGE_CODE}}">{% trans 'Disburse' %}</button>
        {% else %}
          <button disabled class="btn btn-success pull-{{'right'|invert_dir:LANGUAGE_CODE}}">{% trans 'Disburse' %}</button>
          <div class="alert alert-info pull-{{'left'|invert_dir:LANGUAGE_CODE}}" role="alert">
            {{ can_user_disburse.reason }}
          </div>
        {% endif %}
      </div>
      <!-- maker buttons -->
    {% elif request.user.is_maker %}
      <div class="col-md-12 pull-{{'right'|invert_dir:LANGUAGE_CODE}}">
        {% if doc.is_processed and not doc.can_be_disbursed %}
          <button id="notify_button" class="btn btn-success pull-{{'right'|invert_dir:LANGUAGE_CODE}}" data-url="{% url 'disbursement_api:allow_doc_disburse' doc.id %}">
            {% trans 'Notify Chekers' %}
          </button>
          {% elif doc.can_be_disbursed %}
          <div class="alert alert-info pull-{{'left'|invert_dir:LANGUAGE_CODE}}" role="alert">
            {% trans 'Checkers Notified' %}
          </div>
          {% elif doc.processing_failure_reason %}
          <div class="alert alert-info pull-{{'left'|invert_dir:LANGUAGE_CODE}}" role="alert">
            {{ doc.processing_failure_reason }}
          </div>
        {% else %}
          <div class="alert alert-info pull-{{'left'|invert_dir:LANGUAGE_CODE}}" role="alert">
            {% trans 'Pending' %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>

  {# Reviews Section #}
  {% if request.user.is_checker and not hide_review_form and can_review %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{% trans 'Review' %}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form class="form-horizontal form-label-left" method="post" id="reviewForm" action="{% url 'data:doc_viewer' doc.id %}">
              {% csrf_token %}
              {% if review_form_errors %}<span class="error_span">{{ review_form_errors }}</span>{% endif %}
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{% trans 'Accept or Reject' %}</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <select name="is_ok" class="form-control" id="reviewSelect">
                    <option value="1">{% trans 'Accept' %}</option>
                    <option value="0">{% trans 'Reject' %}</option>
                  </select>
                </div>
              </div>

              <div hidden class="form-group" id="reviewComment">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{% trans 'Rejection reason' %} <span class="required">*</span>
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <textarea name="comment" class="form-control" rows="3"></textarea>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <button type="submit" class="btn btn-success">{% trans 'Submit' %}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if reviews and reviews.exists %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{% trans 'Reviews' %}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <ul class="messages">
              {% for review in reviews %}
                <li>
                  <img src="{{ review.user_created.avatar_thumbnail.url }}" class="avatar" alt="Avatar">
                  <div class="message_wrapper">
                    <h4 class="heading">{{ review.user_created.username }}
                      {% if review.user_created.first_name %}
                        <small >({{ review.user_created.first_name }})</small>
                      {%endif%}

                      {% if review.is_ok %}
                        <span style="color:green" class="alignright glyphicon glyphicon-ok" aria-hidden="true"></span>
                      {% else %}
                        <span style="color:red" class="alignright glyphicon glyphicon-remove" aria-hidden="true"></span>
                      {% endif %}
                    </h4>

                    {% if review.comment %}
                      <blockquote class="message">{{ review.comment }}</blockquote><br />
                    {% endif %}
                    <p class="url">{{review.timestamp|date}}</p>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {# End of Reviews Section #}

  <!-- data table -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{% trans 'Bank wallets/Orange Document Transactions' %} <small>{% trans 'Document name:' %} <a target="_blank" href="{% url 'data:download_doc' doc.id %}">{{ doc.filename }}</a></small></h2>
          <ul class="nav navbar-right panel_toolbox">
            {% if request.user.is_root %}
              <li>
                <button data-uri="{{ doc.get_delete_url }}" class="btn btn-danger btn-md" onclick="delete_func(this)"> {% trans 'Delete' %}
                </button>
              </li>
            {% endif %}
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        {% if doc.is_processed %}
          <div class="x_content">
            <h3 class="font-13 m-b-30" style="font-weight: bolder;">
              {% trans 'Count:' %} {{ doc.total_count }} | {% trans 'Total Amount:' %} {{ doc.total_amount }}
            </h3>
            <table id="doc-datatable" class="table table-striped table-bordered">
              {% if doc.is_bank_wallet %}
                <thead>
                  <th>{% trans 'Wallet number' %}</th>
                  <th>{% trans 'Amount' %}</th>
                  <th>{% trans 'Full name' %}</th>
                </thead>
                <tbody>
                  {% for trx  in doc_transactions %}
                    <tr>
                      <td>{{ trx.anon_recipient }}</td>
                      <td>{{ trx.amount }}</td>
                      <td>{{ trx.recipient_name }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              {% else %}
                <thead>
                  <th>{% trans 'Account number' %}</th>
                  <th>{% trans 'Amount' %}</th>
                  <th>{% trans 'Full name' %}</th>
                  <th>{% trans 'Bank code' %}</th>
                </thead>
                <tbody>
                  {% for trx  in doc_transactions %}
                    <tr>
                      <td>{{ trx.creditor_account_number }}</td>
                      <td>{{ trx.amount }}</td>
                      <td>{{ trx.creditor_name }}</td>
                      <td>{{ trx.creditor_bank }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              {% endif %}
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div id="myModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="modal-header"></h4>
        </div>
        <div class="modal-body">
          <p id="modal-message"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>

    </div>
  </div>
  <div id="AgentModal" class="modal fade hide" role="dialog" tabindex="-1">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="agent-modal-header">{% trans 'Enter Agent Pin' %}</h4>
        </div>
        <div class="form-group">
          <form method="post" id="pinform" action="{% url 'disbursement:disburse' doc.id %}">
            {% csrf_token %}
            <div class="modal-body">
              <label for="agent-pin">{% trans 'Pin' %}</label>
              <input type="password" id="agent-pin" name="pin" class="form-control" placeholder="{% trans 'pin' %}" required autocomplete="new-password">
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-default" value="{% trans 'Submit' %}"
                     onClick="this.form.submit(); this.disabled=true; this.value='Disbursing...';">
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

  {% include 'data/document_delete_modal.html' %}



{% endblock %}

{% block script %}

  <!-- Datatables -->
  <script src="{% static 'gentella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script>
    $('#doc-datatable').DataTable();

    $(document).ready(function () {

      $("#disburse_button").on("click", function () {
        $('#AgentModal').removeClass('hide');
        $('#AgentModal').modal();
      });

      if ('{{ redirect }}' == 'true') {
        if ('{{ disburse }}' == 1) {
          $('#modal-header').append("{% trans 'Disbursed, Thanks!' %}");
          $('#modal-message').append('<p>{% trans "Disbursement process is running, you can check reports later" %}</p><br>');
          $('#myModal').removeClass('hide');
          $('#myModal').modal();
        } else if ('{{ disburse }}' == 0) {
          $('#modal-header').append('{% trans "Error occurred, We are sorry!" %}');
          $('#modal-message').append('<p>{% trans "Disbursement process stopped during an internal error, can you try again or contact you support team" %}</p><br>');
          $('#myModal').removeClass('hide');
          $('#myModal').modal();
        } else if ('{{ disburse }}' == 400) {
          $('#modal-header').append('{% trans "Error occurred from your side!" %}');
          $('#modal-message').append('<p>{% trans "Pin you entered is not correct, can you try again or contact you support team." %}</p>');
          $('#myModal').removeClass('hide');
          $('#myModal').modal();
        } else if ('{{ disburse }}' == -1) {
          $('#modal-header').append('{% trans "Error occurred from your side" %}');
          if ('{{ utm_validate }}' == 'false') {
            $('#modal-message').append("<p>{% trans 'This document is disbursed before, if there is any error, please return back to the support team' %}</p><br>");
          }
          {% if utm_owner %}
            if ('{{ utm_owner }}' == 'false') {
              $('#modal-message').append('{% trans "You can not disburse this document" %}');
            }
          {% endif %}
          $('#myModal').removeClass('hide');
          $('#myModal').modal();
        } else {

        }
      }

      if ("{{ review_form_errors }}" !== 'None'){
        $('#reviewComment').show();
        $('#reviewSelect').val(0)
      }

      $('#reviewSelect').on('change', function () {

        if (this.value == 1)
          $('#reviewComment').hide();
        else
          $('#reviewComment').show();
      });


    });
  </script>
  <script>
    $(function () {
      $("#notify_button").on("click", function () {
        let btn = $(this)
        let url = btn.attr("data-url");
        $.ajax({
          type: "POST",
          url: url,
          success: function (result, xhr, message) {
            elem = `<div class="alert alert-info pull-{{'left'|invert_dir:LANGUAGE_CODE}}" role="alert">
                        {% trans 'Checkers Notified' %}
                    </div>`
            btn.replaceWith(elem)
          },
          error: function (xhr, error, reason) {
            $('#modal-header').append('{% trans "Error Occurred!" %}');
            $('#modal-message').append('<p>{% trans "It seems that you do not have access or request a wrong document" %}</p><br>');
            $('#myModal').removeClass('hide');
            $('#myModal').modal();
          }
        });

      });
    });
  </script>
  {% include 'data/document_delete_script.html' %}

{% endblock %}
