{% extends 'base_form_singlepage.html' %}
{% block title %} Change {% endblock %}
{% block back %}
    <div class="back" href="#">
        <a href="{% url 'data:doc_details_list' %}"><i class="fa fa-angle-left"></i> Back</a>
    </div>
{% endblock %}
{% block form %}
    <form method="POST" action=".">
        {% csrf_token %}
        <h1>Change Password</h1>
        {{ form.non_field_errors }}
        <div>
            {{ form.old_password.help_text|safe }}
            <input type="password" class="form-control" name="old_password" placeholder='Old Password' required>
            {{ form.old_password.errors }}
        </div>
{#                             {{ form.new_password1.help_text|safe }}#}
        <div>
        <input type="password" class="form-control" name="new_password1" placeholder='New Passowrd' required>
        {{ form.new_password1.errors }}
        </div>
        <div>
            <input type="password" class="form-control" name="new_password2" placeholder='New Passowrd Confirmation' required>
        {{ form.new_password2.errors }}
            </div>
        <div><button class="submit btn btn-lg btn-default btn-block" type="submit">
        Submit</button></div>
    <div class="clearfix"></div>

      <div class="separator">

        <div class="clearfix"></div>
        <br />

        <div>
          <h1><i class="fa fa-paw"></i> Payroll Dashboard</h1>
          <p>©2019 All Rights Reserved. Payroll Dashoard! is a Paymob solution. Privacy and Terms</p>
        </div>
      </div>
    </form>

{% endblock %}
