{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %} Change Password {% endblock %}
{% block body %}
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <div class="account-wall">
                        <form id="form-signin" method="POST" action="">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {{ form.old_password.help_text|safe }}
                            <input type="password" class="form-control" name="old_password" placeholder='Old Password' required>
                            {{ form.old_password.errors }}
{#                             {{ form.new_password1.help_text|safe }}#}
                            <input type="password" class="form-control" name="new_password1" placeholder='New Passowrd' required>
                            {{ form.new_password1.errors }}
                            <input type="password" class="form-control" name="new_password2" placeholder='New Passowrd Confirmation' required>
                            {{ form.new_password2.errors }}
                            <div class="submit"></div><button class="submit btn btn-lg btn-primary btn-block" type="submit">
                            Submit</button>
                        </form>
                    </div>
                </div>
             </div>
{% endblock %}
