{% load i18n %}
<div class="page-title">
    <div class="title_left">
        <h3>{% trans 'Disbursement Documents' %}</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans 'Documents list' %}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <!-- start doc list -->
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 20%">{% trans 'Document Name' %}</th>
                            <th style="width: 20%">{% trans 'Reviews' %}</th>
                            <th>{% trans 'Disbursed By' %}</th>
                            <th>{% trans 'Disbursement Progress' %}</th>
                            <th>{% trans 'Status' %}</th>
                            <th>{% trans 'View' %}</th>
                            {% if request.user.is_root %}
                                <th>{% trans 'Delete' %}</th>
                            {%endif%}
                        </tr>
                    </thead>
                    <tbody>
                        {% for doc in object_list %}
                            <tr>
                                <td>
                                    <a>{{doc.filename}}</a>
                                    <br />
                                    <small>{% trans 'Created' %} {{doc.created_at}}</small>
                                </td>
                                <td>
                                    {% if doc.reviews.exists %}
                                        <ul class="list-inline">
                                            {% for review in doc.reviews.all %}
                                                <li>

                                                    <img style="background-color:{%if review.is_ok%}green{%else%}red{%endif%}"
                                                    data-toggle="tooltip" data-placement="top" title="{{review.user_created.username}}"
                                                     src="{{review.user_created.avatar_thumbnail.url }}" class="avatar" alt="Avatar">
                                                </li>
                                            {%endfor%}
                                        </ul>
                                    {%else%}
                                        <p>{% trans 'No reviews yet' %}</p>
                                    {%endif%}

                                </td>
                                <td>
                                    {% if doc.is_disbursed %}
                                        <h6><strong>{{doc.disbursed_by.username}}</strong></h6>
                                    {% endif %}
                                </td>
                                <td class="project_progress">
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{doc.disbursement_ratio}}"></div>
                                    </div>
                                    <small>{{doc.disbursement_ratio}}% {% trans 'Complete' %}</small>
                                </td>
                                <td>
                                    {% if not request.user.is_maker and not doc.can_be_disbursed %}
                                        <h4><span class="label label-info">{% trans 'Not ready for disbursement yet' %}</span></h4>

                                    {% elif not doc.is_processed %}
                                        <h4><span class="label label-danger">{% trans 'Validation Failed' %}</span></h4>
                                        {% if doc.processing_failure_reason %}
                                            {{ doc.processing_failure_reason}}
                                        {% endif %}

                                    {% elif doc.is_disbursed and doc.disbursement_ratio <= 0 %}
                                        <h4><span class="label label-danger">{% trans 'Disbursement Failed' %}</span></h4>

                                    {% elif doc.is_disbursed %}
                                        <h4><span class="label label-success">{% trans 'Disbursed Successfully' %}</span></h4>

                                    {% elif doc.can_be_disbursed %}
                                        <h4><span class="label label-primary">{% trans 'Waiting Disbursement' %}</span></h4>

                                    {% elif doc.is_processed %}
                                        <h4><span class="label label-warning">{% trans 'Validated Successfully' %}</span></h4>
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- Document disbursed successfully -->
                                    {% if doc.is_disbursed and doc.disbursement_ratio > 0 %}
                                        <a href="{{doc.get_absolute_url}}" class="btn btn-success btn-md">{% trans 'View' %}</a>

                                    <!-- Document disbursement failed -->
                                    {% elif doc.is_disbursed and doc.disbursement_ratio <= 0 %}
                                        <a href="{{doc.get_absolute_url}}" class="btn btn-danger btn-md">{% trans 'View' %}</a>

                                    <!-- Document processed and Checkers notified -->
                                    {% elif doc.can_be_disbursed %}
                                        <a href="{{doc.get_absolute_url}}" class="btn btn-primary btn-md">{% trans 'View' %}</a>

                                    <!-- Maker-Owner: Document validation error -->
                                    {% elif doc.owner == request.user and not doc.is_processed %}
                                        <a href="{{doc.get_absolute_url}}" class="btn btn-danger btn-md">{% trans 'View' %}</a>

                                    <!-- Maker-Owner: Document validated successfully and no checkers notified -->
                                    {% elif doc.owner == request.user and not doc.can_be_disbursed  %}
                                        <a href="{{doc.get_absolute_url}}" class="btn btn-warning btn-md addMore"
                                               title="{% trans 'No checkers notified yet' %}">{% trans 'View' %}</a>

                                    <!-- Checker or Admin: Document validation error or owner has not notify checkers -->
                                    {% elif not request.user.is_maker and not doc.can_be_disbursed %}
                                        <button disabled class="btn btn-info addMore"
                                                title="{% trans 'Not ready for disbursement yet' %}">{% trans 'Pending' %}</button>
                                    {% endif %}
                                </td>
                                {% if request.user.is_root %}
                                <td>
                                    <a data-uri="{{doc.get_delete_url}}" class="btn btn-danger btn-md" onclick="delete_func(this)">
                                        {% trans 'Delete' %}
                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- end doc list -->
                <div class="pagination">
                         <span class="step-links">
                                {% if object_list.has_previous %}
                                    <a href="?page=1">&laquo; First &nbsp;&nbsp;&nbsp;</a>
                                    <a href="?page={{ object_list.previous_page_number }}">previous</a>
                                {% endif %}

                         <span class="current">
                                  Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                         </span>

                                {% if object_list.has_next %}
                                    <a href="?page={{ object_list.next_page_number }}">next</a>
                                    <a href="?page={{ object_list.paginator.num_pages }}">&nbsp;&nbsp;&nbsp; Last &raquo;</a>
                                {% endif %}
                        </span>
                </div>
            </div>


        </div>
    </div>
</div>