<script>
    $(function () {
        let deleteModal = $('#doc-delete-modal');
        $('#doc-delete-btn').click(function () {
            deleteModal.modal('show');
        });

        $('#doc-delete-submit').click(function () {
            url = $('#doc-delete-btn').attr('data-uri');
            $.ajax({
                type: "POST",
                url: url,
                success: function (result, xhr, message) {
                    $('#doc-delete-submit').attr('disabled',true)
                    $('#message').hide();
                    $('#succ-message').show();
                    setTimeout(function () {
                        window.location = "{% url 'data:main_view' %}";
                    }, 2000);

                },
                error: function (xhr, error, reason) {    
                    $('#doc-delete-submit').attr('disabled', true)                
                    $('#message').hide();
                    $('#fail-message').show();
                    setTimeout(function () {
                        window.location = "{% url 'data:main_view' %}";
                    }, 2000);
                    
                }
            });


        });

    });
</script>