{% load i18n %}
        <div class="page-title">
            <div class="title_left">
                <h3>{% trans 'Disbursement Documents' %}</h3>
            </div>

        </div>
        
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{% trans 'Documents details' %}</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                       
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <!-- start project list -->
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 20%">{% trans 'Document Name' %}</th>
                                    <th style="width: 20%">{% trans 'Reviews' %}</th>
                                    <th>{% trans 'Disbursed By' %}</th>
                                    <th>{% trans 'Disbursement Progress' %}</th>
                                    <th>{% trans 'Status' %}</th>
                                    <th>{% trans 'View' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for doc in object_list %}
                                    <tr>
                                        <td>
                                            <a>{{doc.filename}}</a>
                                            <br />
                                            <small>{% trans 'Created' %} {{doc.created_at}}</small>
                                        </td>
                                        <td>
                                            {% if doc.reviews.exists %}
                                                <ul class="list-inline">
                                                    {% for review in doc.reviews.all %}
                                                        <li>

                                                            <img style="background-color:{%if review.is_ok%}green{%else%}red{%endif%}" 
                                                            data-toggle="tooltip" data-placement="top" title="{{review.user_created.username}}"
                                                             src="{{review.user_created.avatar_thumbnail.url }}" class="avatar" alt="Avatar">
                                                        </li>
                                                    {%endfor%}    
                                                </ul>
                                            {%else%}
                                                <p>{% trans 'No reviews yet' %}</p>
                                            {%endif%}

                                        </td>
                                        <td>
                                            {{doc.disbursed_by.username}}
                                        </td>
                                        <td class="project_progress">
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{doc.disbursement_ratio}}"></div>
                                            </div>
                                            <small>{{doc.disbursement_ratio}}% {% trans 'Complete' %}</small>
                                        </td>
                                        <td>
                                            
                                            {% if not doc.is_processed%}
                                                <h4><span class="label label-danger">{% trans 'Failed' %}</span></h4>
                                                {%if doc.processing_failure_reason%}
                                                    {{ doc.processing_failure_reason}}
                                                {%endif%}    
                                            {%elif doc.is_disbursed%}
                                                <h4><span class="label label-success">{% trans 'Disbursed' %}</span></h4>
                                            {%elif doc.can_be_disbursed %}
                                                <h4><span class="label label-info">{% trans 'Waiting disbursement' %}</span></h4>
                                            {%else%}
                                                <h4><span class="label label-info">{% trans 'Proccessed' %}</span></h4>
                                            {%endif%}
                                        </td>
                                        <td>
                                            <a href="{{doc.get_absolute_url}}" class="btn btn-primary btn-md"> {% trans 'View' %}
                                            </a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr><td>{% trans "There's no files uploaded yet.." %}</td></tr>
                                {%endfor%}    
                              
                        
                            </tbody>
                        </table>
                        <!-- end project list -->

                    </div>
                </div>
            </div>
        </div>
    




