{% extends 'base_form_singlepage.html' %}
{% load i18n %}
{% load static %}
{% load custom_tags %}

{% block title %} {% trans 'Support' %} {% endblock %}

{% block gentellacss %}
  <link href="{% static 'gentella/iCheck/skins/flat/green.css' %}" rel="stylesheet">
{% endblock gentellacss %}

{% block form %}
  <form action="." method="POST">
    {% csrf_token %}
    <h1>{% trans 'Add Support User' %}</h1>
    <div>
      {% for field in form.visible_fields %}
        {% ifequal field.name "can_onboard_entities"  %}
          <div class="checkbox" style="position: relative; ">
            <div class="col-xs-12 ">
              {{ field }}<label for="id_can_onboard_entities">{{ field.label }}</label>
              {{ field.errors.as_ul }}
            </div>
          </div>
        {% else %}
          <div class="form-group">
            <div class="col-xs-12">
              <div class="">
                {{ field | add_class:'form-control'}}
                {{ field.errors.as_ul }}
              </div>
            </div>
          </div>
        {% endifequal %}
      {% endfor %}
    </div>
    <div class="clearfix"></div>
    <br/>

    <div>
      {% if request.user.is_supervisor %}
        <a class="reset_pass" href="{% url 'users:support' %}">{% trans 'Back' %}</a>
      {% else %}
        <a class="reset_pass" href="{% url 'users:clients' %}">{% trans 'Back' %}</a>
      {% endif %}
      <input class="btn btn-default submit" type="submit" value="{% trans 'Create' %}">
    </div>

    <div class="clearfix"></div>
    <div class="separator">
      <div class="clearfix"></div>
      <br />
    </div>
  </form>
{% endblock form %}

{% block script %}
  <script src="{% static 'gentella/bootstrap.min.js' %}"></script>
  <script src="{% static 'gentella/icheck.min.js' %}"></script>
{% endblock script %}