{% extends 'new_base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load custom_tags %}

{% block title %} {% trans 'Client Credentials' %} {% endblock title %}

{% block gentellacss %}

{% endblock %}

{% block body %}
<!-- page content -->
<div class="col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>{{client.client.username}} credentials</h3>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4>Dashboard Users</h4>
              </div>
              <div class="panel-body" style="font-size:15px;">
                <ul class="list-group" style="list-style-type: none;">
                  {% for u in dashboard_users %}
                    <li class="list-group-item list-group-item-default"
                        style="margin-bottom: 10px;">Username:- {{u.username}}</li>
                  {% empty %}
                    <li class="list-group-item list-group-item-default">No dashboard users found</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4>Api Checkers</h4>
              </div>
              <div class="panel-body" style="font-size:15px;">
                <ul class="list-group" style="list-style-type: none;">
                  {% for u in api_checkers %}
                    <li class="list-group-item list-group-item-default"
                        style="margin-bottom: 10px;word-wrap: break-word;
                        width:-webkit-fill-available;">
                      Username:- {{u.username}}<br/>
                      Client ID:- {{u.auth_obj.client_id}}<br/>
                      Client Secret:- {{u.auth_obj.client_secret}}<br/>
                    </li>
                  {% empty %}
                    <li class="list-group-item list-group-item-default">No api checkers found</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
{% endblock body %}