{% extends 'new_base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% load banks_tags %}
{% load error_codes_tags %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'Transactions' %} {% endblock %}

{% block gentellacss %}
  <!-- Datatables -->
  <link href="{% static 'gentella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/transaction_details.css' %}" rel="stylesheet">
  <link href="{% static 'css/disbursement_transactions_dashboard.css' %}" rel="stylesheet">
  <style>
      #docDetailsLeft > li > span{
          width: 90px;
      }
      #docDetailsRight > li > span{
          width: 130px;
      }
      #download-doc {
          width: 17rem!important;
          margin-right: 10px;
          color: #333;
      }
      #download-doc span {
          color: #333;
      }
      #menu1 {
        display:none;
      }
      {% if LANGUAGE_CODE == 'ar' %}
        ul > li > span{
          width: 120px;
        }
      {% endif %}
  </style>
{% endblock %}

{% block body %}
  {% include 'disbursement/disbursement_transactions_dashboard.html' %}

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{% trans 'Transactions of document: ' %}<small>{{ doc_obj.filename }}</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <table class="table table-bordered" id="transaction-table">
            <thead>
            <tr>
              {% if doc_obj.is_bank_wallet %}
                <th style="display:none;">{% trans 'Transaction ID' %}</th>
                <th>{% trans 'Wallet Number' %}</th>
              {% elif doc_obj.is_bank_card %}
                <th style="display:none;">{% trans 'Transaction ID' %}</th>
                <th>{% trans 'Account Number' %}</th>
              {% else %}
                <th>{% trans 'Wallet Number' %}</th>
              {% endif %}
              <th>{% trans 'Amount' %}</th>
              <th>{% trans 'Issuer' %}</th>
              {% if not request.user.is_vodafone_default_onboarding and not request.user.is_vodafone_facilitator_onboarding and not request.user.is_banks_standard_model_onboaring %}
                <th>{% trans 'Fees' %}</th>
                <th>{% trans 'Vat' %}</th>
              {% endif %}
              <th>{% trans 'Is Disbursed?' %}</th>
              <th>{% trans 'Updated At' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for record in disbursement_records %}
              <tr {% if doc_obj.is_bank_card or doc_obj.is_bank_wallet %}
                    data-status="{{ record.status_choice_verbose }}"
                    data-transaction_status_code="{{ record.transaction_status_code }}"
                    data-transaction_status_description="{{ record.transaction_status_description }}"
                    data-created_at="{{ record.parent_transaction.created_at }}"
                    data-updated_at="{{ record.created_at }}"
                  {% endif %}
                  {% if doc_obj.is_bank_card %}
                    data-id="{{ record.parent_transaction.transaction_id }}"
                    data-creditor_account_number="{{ record.creditor_account_number }}"
                    data-creditor_name="{{ record.creditor_name }}"
                    data-creditor_bank="{{ record.creditor_bank }}"
                    data-bank_name="{{ record.creditor_bank|bank_name }}"
                    data-type="{{ record|transaction_type }}"
                    data-debtor_account="{{ record.debtor_account }}"
                  {% endif %}
                  {% if doc_obj.is_bank_wallet %}
                    data-id="{{ record.uid }}"
                    data-anon_recipient="{{ record.anon_recipient }}"
                    data-recipient_name="{{ record.recipient_name }}"
                    data-issuer="{{ record.issuer_choice_verbose }}"
                  {% endif %}
                  {% if doc_obj.is_e_wallet %}
                    data-created_at="{{ record.created_at }}"
                    data-updated_at="{{ doc_obj.updated_at }}"
                    data-msisdn="{{ record.msisdn }}"
                    data-is_disbursed="{{ record.is_disbursed }}"
                    data-reason="{{ record.reason }}"
                    data-issuer="{{ record.issuer }}"
                    data-trx_id="{{ record.reference_id }}"
                    data-aman_is_paid="{{ record.aman_transaction_is_paid }}"
                    data-aman_is_canceled="{{ record.aman_transaction_is_canceled }}"
                    {% if record.is_disbursed %}
                      data-reason_description="{{ record.reason }}"
                    {% else %}
                      data-reason_description="{{ record.reason | code_description }}"
                    {% endif %}
                  {% endif %}
                  data-amount="{{ record.amount }}"
                  class="row-hover">
                {% if doc_obj.is_bank_wallet %}
                  <td style="display:none;">{{ record.uid }}</td>
                  <td>{{ record.anon_recipient }}</td>
                {% elif doc_obj.is_bank_card %}
                  <td style="display:none;">{{ record.parent_transaction.transaction_id }}</td>
                  <td>{{ record.creditor_account_number }}</td>
                {% else %}
                  <td>{{ record.msisdn }}</td>
                {% endif %}
                <td>{{ record.amount }}</td>
                {% if doc_obj.is_e_wallet %}
                  <td>{{ record.issuer }}</td>
                {% elif doc_obj.is_bank_wallet %}
                  <td>{{ record.issuer_choice_verbose }}</td>
                {% else %}
                  <td>bank_card</td>
                {% endif %}
                {% if not request.user.is_vodafone_default_onboarding and not request.user.is_vodafone_facilitator_onboarding and not request.user.is_banks_standard_model_onboaring %}
                {% if doc_obj.disbursed_successfully %}
                  <td>{{ record.fees }}</td>
                  <td>{{ record.vat }}</td>
                {% else %}
                  <td>0</td>
                  <td>0</td>
                {% endif %}
                
                {% endif %}
                {% if doc_obj.disbursed_successfully %}
                  <td style="text-align: center; font-size: 20px; padding-top: 3px; padding-bottom: 3px;">
                    {% if doc_obj.is_bank_card or doc_obj.is_bank_wallet %}
                      {% if record.status_choice_verbose == 'Successful' %}
                        <span style="color: #2e6da4; ">&#10004;</span>
                      {% elif doc_obj.waiting_disbursement_callback %}
                        <span>⏳</span>
                      {% else %}
                        <span style="color: #942a25; ">&#10006;</span>
                      {% endif %}
                    {% else %}
                      {% if record.is_disbursed %}
                        <span style="color: #2e6da4; ">&#10004;</span>
                      {% elif doc_obj.waiting_disbursement_callback %}
                        <span>⏳</span>
                      {% else %}
                        <span style="color: #942a25; ">&#10006;</span>
                      {% endif %}
                    {% endif %}
                  </td>
                {% elif doc_obj.validated_successfully or doc_obj.waiting_disbursement %}
                  <td>{% trans 'Not Yet!' %}</td>
                {% else %}
                  <td>{% trans 'Failed Disbursement' %}</td>
                {% endif %}
                <td>{{ doc_obj.updated_at }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!--   Document Details   -->
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">{% trans 'Document Details' %}</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-8">
                <ul id="docDetailsLeft" class="list-group">
                  <li class="list-group-item"><span>{% trans 'ID' %}</span><b>:</b>{{ doc_obj.id }}</li>
                  <li class="list-group-item"><span>{% trans 'Name' %}</span><b>:</b>{{ doc_obj.filename }}</li>
                  <li class="list-group-item"><span>{% trans 'Status' %}</span><b>:</b>{{ doc_status }}</li>
                  <li class="list-group-item"><span>{% trans 'Uploaded By' %}</span><b>:</b>{{ doc_obj.owner }}</li>
                  <li class="list-group-item"><span>{% trans 'Disbursed By' %}</span><b>:</b>{{ doc_obj.disbursed_by }}</li>
                  <li class="list-group-item"><span>{% trans 'Specs Used' %}</span><b>:</b>{{ doc_obj.file_category.name }}</li>
                </ul>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                <ul id="docDetailsRight" class="list-group">
                  <li class="list-group-item"><span>{% trans 'Total Amount' %}</span><b>:</b>{{ doc_obj.total_amount }}</li>
                  <li class="list-group-item"><span>{% trans 'Total Records' %}</span><b>:</b>{{ doc_obj.total_count }}</li>
                  <li class="list-group-item"><span>{% trans 'Can Be Disbursed' %}?</span><b>:</b>{{ doc_obj.can_be_disbursed }}</li>
                  <li class="list-group-item"><span>{% trans 'Disbursement Ratio' %}</span><b>:</b>{{ disbursement_ratio }} %</li>
                  <li class="list-group-item"><span>{% trans 'Created At' %}</span><b>:</b>{{ disbursement_doc_data.created_at }}</li>
                  <li class="list-group-item"><span>{% trans 'Updated At' %}</span><b>:</b>{{ disbursement_doc_data.updated_at }}</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="list-group">
                  <li class="list-group-item"><span>{% trans 'Processing Failure Reason' %}</span><b>:</b>{{ doc_obj.processing_failure_reason }}</li>
                  <li class="list-group-item"><span>{% trans 'Number of reviews required' %}?</span><b>:</b>{{ doc_obj.file_category.no_of_reviews_required }}</li>
                  <li class="list-group-item"><span>{% trans 'Is reviews completed' %}?</span><b>:</b>{% if is_reviews_completed %} Yes {% else %} No {% endif %}</li>
                  {% for review in reviews %}
                    <li class="list-group-item"><span>{% trans 'Reviewed By' %}</span><b>:</b>{{ review.user_created }}</li>
                    <li class="list-group-item"><span>{% trans 'Is Ok' %}?</span><b>:</b>{{ review.is_ok }}</li>
                    <li class="list-group-item"><span>{% trans 'Timestamp' %}</span><b>:</b>{{ review.timestamp }}</li>
                    <li class="list-group-item"><span>{% trans 'Comment' %}</span><b>:</b>{{ review.comment }}</li>
                  {% empty %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Transaction details #}
  <div id="trxDetails" style="display: none;" class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2 class="font-13 m-b-30" style="font-weight: bolder;">{% trans 'Transaction Details' %}</h2>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <ul id="trxDetailsData">
              </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <ul id="trxDetailsDataRight">
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <ul id="trxDetailsDataLast">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# End of transaction details #}

          

  {# End of modal for export failed file transactions #}

{% endblock %}

{% block script %}
  <!-- Datatables -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="{% static 'gentella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>

  <script>


$(document).ready( function () {
  var table = $('#transaction-table').DataTable({
    "bLengthChange" : false,
  });
  
  var buttons = new $.fn.dataTable.Buttons( table, {
    buttons: [
      {
        extend: 'copy',
        text : "{% trans 'Copy' %}",
        exportOptions: {
          charSet: "utf-8",
        }
      },
      {
        extend: 'print',
        text : "PDF",
      },
      {
        extend: 'excelHtml5',
        text : "{% trans 'Export' %}",

        customize: function( xlsx ) {

          var sheet = xlsx.xl.worksheets['sheet1.xml'];
          $('row c[r^="A"]', sheet).attr( 's', '0' );
       }
      }
    ]
  });
  
  table.buttons( 0, null ).container().prependTo(
    table.table().container()
  );
  let empty_row = $('.dataTables_empty');
  if (empty_row) {
    empty_row.parent().attr('id', 'empty_row');
  }
});
  </script>
  <script>
    let trx = {};
    $('#transaction-table tbody').on('click', 'tr:not(#empty_row)', function () {
      if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
        $("#trxDetails").slideUp().fadeOut();
      }
      else {
        $('tr.selected').removeClass('selected');
        $(this).addClass('selected');
        let ul = $('#trxDetailsData');
        let ulRight = $('#trxDetailsDataRight');
        let ulLast = $('#trxDetailsDataLast');
        let appendedTags = '';
        let appendedTagsRight = '';
        let appendedTagsBottom = '';

        trx.amount = $(this).data('amount');
        appendedTags += `<li><span>{% trans 'Amount' %}</span><b>:</b>${trx.amount}</li>`;

        {% if doc_obj.is_bank_card or doc_obj.is_bank_wallet %}
          trx.id = $(this).data('id');
          appendedTags += `<li><span>{% trans 'Transaction ID' %}</span><b>:</b>${trx.id}</li>`;
          trx.status = $(this).data('status');
          appendedTags += `<li><span>{% trans 'Status' %}</span><b>:</b>${trx.status}</li>`;
          trx.transaction_status_code = $(this).data('transaction_status_code');
          appendedTagsBottom += `<li><span>{% trans 'Disbursement Status Code' %}</span><b>:</b>${trx.transaction_status_code}</li>`;
          trx.transaction_status_description = $(this).data('transaction_status_description');
          appendedTagsBottom += `<li><span>{% trans 'Disbursement Status Description' %}</span><b>:</b>${trx.transaction_status_description}</li>`;
        {% endif %}

        {% if doc_obj.is_bank_wallet %}
          trx.anon_recipient = $(this).data('anon_recipient');
          appendedTags += `<li><span>{% trans 'Wallet Number' %}</span><b>:</b>${trx.anon_recipient}</li>`;
          trx.recipient_name = $(this).data('recipient_name');
          appendedTags += `<li><span>{% trans 'Full Name' %}</span><b>:</b>${trx.recipient_name}</li>`;
          let issuer = $(this).data('issuer');
          appendedTagsRight += `<li><span>{% trans 'Issuer' %}</span><b>:</b>${issuer}</li>`;
        {% endif %}
        {% if doc_obj.is_bank_card %}
          trx.debtor_account = $(this).data('debtor_account');
          trx.creditor_account_number = $(this).data('creditor_account_number');
          appendedTags += `<li><span>{% trans 'Account Number' %}</span><b>:</b>${trx.creditor_account_number}</li>`;
          trx.creditor_name = $(this).data('creditor_name');
          appendedTags += `<li><span>{% trans 'Full Name' %}</span><b>:</b>${trx.creditor_name}</li>`;
          appendedTagsRight += `<li><span>{% trans 'Issuer' %}</span><b>:</b>bank_card</li>`;
          trx.creditor_bank = $(this).data('creditor_bank');
          appendedTagsRight += `<li><span>{% trans 'Bank Swift Code' %}</span><b>:</b>${trx.creditor_bank}</li>`;
          trx.bank_name = $(this).data('bank_name');
          appendedTagsRight += `<li><span>{% trans 'Bank Name' %}</span><b>:</b>${trx.bank_name}</li>`;
          trx.type = $(this).data('type');
          appendedTagsRight += `<li><span>{% trans 'Transaction Type' %}</span><b>:</b>${trx.type}</li>`;
        {% endif %}
        {% if doc_obj.is_e_wallet %}
          let issuer = $(this).data('issuer');
          let is_canceled = $(this).data('aman_is_canceled');
          appendedTagsRight += `<li><span>{% trans 'Issuer' %}</span><b>:</b>${issuer}</li>`;
          {# Determine is_paid? status for aman transactions #}
          if (issuer === 'Aman' || issuer === 'aman') {
            let aman_is_paid = $(this).data('aman_is_paid');
            if (aman_is_paid === 'True') {
              appendedTagsRight += `<li><span>{% trans 'Cashed Out?' %}</span><b>:</b><span style="color: darkgreen">&#10004;</span></li>`;
            } else {
              appendedTagsRight += `<li><span>{% trans 'Cashed Out?' %}</span><b>:</b><span style="color: darkred">&#10006;</span></li>`;
            }

            if (is_canceled === 'True') {
              appendedTagsRight += `<li><span>Canceled?</span><b>:</b><span style="color: darkgreen">&#10004;</span></li>`;
            } else {
              appendedTagsRight += `<li><span>Canceled?</span><b>:</b><span style="color: darkred">&#10006;</span></li>`;
            }
          }
          let msisdn = $(this).data('msisdn');
          appendedTags += `<li><span>{% trans 'Wallet Number' %}</span><b>:</b>${msisdn}</li>`;

          let is_disbursed = $(this).data('is_disbursed');
          let reason = $(this).data('reason');

          {# Handle is_disbursed icon based of the record disbursement status #}
          if (is_disbursed === 'True') {
            appendedTags += `<li><span>{% trans 'Status' %}</span><b>:</b>{% trans "Successful" %}</li>`;
          }
          else if (!reason) {
            appendedTags += `<li><span>{% trans 'Status' %}</span><b>:</b>{% trans "Pending" %}</li>`;
          }
          else {
            appendedTags += `<li><span>{% trans 'Status' %}</span><b>:</b>{% trans "Failed" %}</li>`;
          }

          {# Handle disbursement status description based of the record disbursement status #}
          if (reason) {
            if (reason === 'SUCCESS') {
              appendedTagsBottom += `<li><span>{% trans 'Disbursement Status Code' %}</span><b>:</b>200</li>`;
            } else {
              appendedTagsBottom += `<li><span>{% trans 'Disbursement Status Code' %}</span><b>:</b>${reason}</li>`;
            }
            let reason_description = $(this).data('reason_description');
            appendedTagsBottom += `<li><span>{% trans 'Disbursement Status Description' %}</span><b>:</b>${reason_description}</li>`;
          } else {
            appendedTagsBottom += `<li><span>{% trans 'Disbursement Status Code' %}</span><b>:</b> -- </li>`;
            appendedTagsBottom += `<li><span>{% trans 'Disbursement Status Description' %}</span><b>:</b>Disbursement process is running</li>`;
          }
          trx.created_at = $(this).data('created_at');
          appendedTagsRight += `<li><span>{% trans 'Created At' %}</span><b>:</b>${trx.created_at}</li>`;
        {% endif %}
        trx.updated_at = $(this).data('updated_at');
        appendedTagsRight += `<li><span>{% trans 'Updated At' %}</span><b>:</b>${trx.updated_at}</li>`;
        if (issuer === 'aman') {
          let aman_is_paid = $(this).data('aman_is_paid');
          let is_canceled = $(this).data('aman_is_canceled');
          if (aman_is_paid !== 'True' && is_disbursed === 'True' && is_canceled == 'False') {
              trx.id = $(this).data('trx_id');
              appendedTagsBottom += `<center><button onclick="cancel_transaction(${trx.id})" class="btn btn-danger btn-md">Cancel</button></center>`;
          }
        }

        ul.empty();
        ul.append(appendedTags);

        ulRight.empty();
        ulRight.append(appendedTagsRight);

        ulLast.empty();
        ulLast.append(appendedTagsBottom);

        $("#trxDetails").slideDown();
        $('html,body').animate({
          scrollTop: $("#trxDetails").offset().top
        }, 'slow');
     }
    });

    function cancel_transaction(trn_id){
      conf = confirm("Are you sure you want to cancel this transaction ?");
      if (conf){
        $.ajax({
          url: "{% url 'disb_api:cancel_aman_transaction' %}",
          type: "POST",
            headers: {'Content-Type': 'application/json'},

          'data': JSON.stringify({ 'transaction_id': trn_id }),
          success: function (data, text, xhr) {
            if (data.canceled == false)
                alert("Transaction can't be canceled");
            else
                location.reload();
          },
        });

      }
    }

  </script>
{% endblock %}
