{% extends 'new_base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load custom_tags %}

{% block title %} {% trans 'Clients Credentials' %} {% endblock title %}

{% block gentellacss %}
<!-- Datatables -->
<link href="{% static 'gentella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'gentella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'gentella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'gentella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'gentella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/transaction_details.css' %}" rel="stylesheet">
<style>
.export-dropdown {
    position: relative;
    display: inline-block;
    border: 0;
    background: transparent;
    border-radius: .5rem!important;
    width: 16rem!important;
    padding: .75rem!important;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.14)!important;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.14)!important;
}
</style>
{% endblock %}

{% block body %}
{# page content #}
<div class="col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>{% trans 'All Clients' %}</h3>
      </div>
      <div class="title_right">
        <form action="." method="get">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-{{'right'|invert_dir:LANGUAGE_CODE}} top_search">
            <div class="input-group">
              <input type="text" class="form-control" name="search" value="{{ search }}" placeholder="Search for...">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="submit" value="search">{% trans 'Go!' %}</button>
                </span>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            {% if not is_production %}
              <button
                class="btn btn-default dropdown-toggle export-dropdown pull-{{'right'|invert_dir:LANGUAGE_CODE}}"
                type="button" id="addNewClient" data-toggle="dropdown"
                style="{% if LANGUAGE_CODE == 'ar' %} width: 11rem!important;{% endif %}">
                <span style="color: black;" class="glyphicon glyphicon-plus"></span>
                {% trans 'Onboard New Client' %}
              </button>
            {% endif %}
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table table-bordered" id="transaction-table">
              <thead>
                <tr>
                  <th>{% trans 'Username' %}</th>
                  <th>{% trans 'Email' %}</th>
                  <th>{% trans 'Status' %}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for user in clients %}
                  <tr class="row-hover">
                    <td>{{ user.client.username }}</td>
                    <td>{{ user.client.email }}</td>
                    <td>
                      {% ifequal user.is_active True %}
                        {% trans 'Active' %}
                      {% else %}
                        {% trans 'InActive' %}
                      {% endifequal %}
                    </td>
                    <td style="text-align: center;">
                      <a style="color:black;" type="button"
                         href="{% url 'users:support_clients_credentials_details' user.id %}"
                         class="btn btn-light btn-md rounded border border-dark">
                        {% trans 'View Credentials' %}
                        <span class="glyphicon glyphicon-arrow-right"></span>
                      </a>
                    </td>
                  </tr>
                {% empty %}
                  <h4 class="text-center">{% trans 'No clients are set here...' %}</h4>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{# Add new client modal #}
<div class="modal fade" id="newClientModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-plus"></span> {% trans 'Add New Client' %}</h4>
      </div>
      <div class="modal-body">
        <div class="waiting-form-respond">
        </div>
        <form action="{% url 'users:support_clients_credentials' %}"
              method="post" class="autoValidateForm" role="form">
          {% csrf_token %}
          <div class="row">
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
              <label><span class="glyphicon glyphicon-briefcase"></span>
                {% trans 'Client Name' %} *
              </label>
              {{ form.client_name }}
              <span class="respond-span"></span>
              <div class="text-danger">
                {{ form.client_name.errors }}
              </div>
            </div>
          </div>

          <button id="submitModal" class="btn btn-primary pull-{{'right'|invert_dir:LANGUAGE_CODE}}" type="submit">{% trans 'Submit' %}</button>
          <button class="btn btn-default pull-{{'right'|invert_dir:LANGUAGE_CODE}}" data-dismiss="modal">{% trans 'Cancel' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{# End of add new client modal #}

{# Add new client failed modal #}
<div class="modal fade" id="failedModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans 'Failed' %}</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" id="status_description_failed"
              style="color:white;font-size:14px;">
          {{ error.message }}
        </div>
        <div style="text-align: center;">
          <img src="{% static 'img/error.jpeg' %}"  width='30%'/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
      </div>
    </div>
  </div>
</div>
{# End of add new client failed modal #}

{# Add new client success modal #}
<div class="modal fade" id="successModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans 'Success' %}</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>Dashboard Users</h4>
          </div>
          <div class="panel-body" style="font-size:15px;">
            <ul class="list-group" style="list-style-type: none;">
              <li class="list-group-item list-group-item-default"
                  style="margin-bottom: 10px;">
                Username:- {{credentials_data.dashboard_user.username}}</li>
              <li class="list-group-item list-group-item-default"
                  style="margin-bottom: 10px;">
                Password:- {{credentials_data.dashboard_user.password}}</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>Api Checkers</h4>
          </div>
          <div class="panel-body" style="font-size:15px;">
            <ul class="list-group" style="list-style-type: none;">
              <li class="list-group-item list-group-item-default"
                  style="margin-bottom: 10px;word-wrap: break-word;
                        width:-webkit-fill-available;">
                Username:- {{credentials_data.api_checker.username}}<br/>
                Password:- {{credentials_data.api_checker.password}}<br/>
                Client ID:- {{credentials_data.api_checker.client_id}}<br/>
                Client Secret:- {{credentials_data.api_checker.client_secret}}<br/>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
      </div>
    </div>
  </div>
</div>
{# End of add new client success modal #}

{% endblock body %}

{% block script %}
<!-- Datatables -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="{% static 'gentella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
<script>
  var table = $('#transaction-table').DataTable({
    "bLengthChange" : false,
  });

  var buttons = new $.fn.dataTable.Buttons( table, {
        buttons: [
          {
                extend: 'copy',
                text : "{% trans 'Copy' %}",
                exportOptions: {
                    charSet: "utf-8",
                }
            },
            {
                extend: 'print',
                text : "PDF",
            },
            {
                extend: 'excelHtml5',
                text : "{% trans 'Export' %}",

                customize: function( xlsx ) {

                  var sheet = xlsx.xl.worksheets['sheet1.xml'];
                  $('row c[r^="A"]', sheet).attr( 's', '0' );
				       }
            }
        ]
    });

  table.buttons( 0, null ).container().prependTo(
        table.table().container()
    );

  let empty_row = $('.dataTables_empty');
  if (empty_row) {
    empty_row.parent().attr('id', 'empty_row');
  }

</script>
<script>
  {% if show_add_form == True %}
    $("#newClientModal").modal();
  {% endif %}

  $("#addNewClient").click(function () {
    $("#newClientModal").modal();
  });

  {% if has_error %}
    {% if has_error == True %}
      $('#failedModal').modal({
        backdrop: 'static',
        keyboard: false
      });
    {% else %}
      $('#successModal').modal({
        backdrop: 'static',
        keyboard: false
      });
    {% endif %}
  {% endif %}
</script>
{% endblock %}
