{% load static %}
{% load i18n %}

<div class="left_col scroll-view">
  <div class="navbar nav_title" style="text-align:center; padding-top: 12px;">
    {% if brand_logo %}
      <a href="{% url 'data:main_view' %}" class="site_title">
        <span><img class="center" src="{{ brand_logo }}" height="38px" id="paymob_logo"></span>
      </a>
    {%else%}
      <a href="{% url 'data:main_view' %}" class="site_title">
        <span><img class="center" src="{% static 'img/pm_name.png' %}" height="38px" id="paymob_logo"></span>
      </a>
    {%endif%}
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="{{ request.user.avatar_thumbnail.url }}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>{% trans 'Welcome,' %}</span>
      <h2>
        {% if request.user.get_full_name %}
            {{ request.user.get_full_name }}
        {%else%}
            {{ request.user.username }}
        {%endif%}
      </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br/>

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">

      <ul class="nav side-menu">

        <li><a><i class="fa fa-home"></i> {% trans 'Home' %} <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'users:support_clients_list' %}">{% trans 'All Clients' %}</a></li>
          </ul>
        </li>
        <li><a href="{% url 'users:session_list' %}"><i class="fa fa-clock-o" ></i>{% trans 'Active Sessions' %}</a></li>
        <li><a><i class="fa fa-life-ring"></i> {% trans 'Settings' %} <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'users:profile' request.user.username %}">{% trans 'Profile' %}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

</div>