fieldset {
    border: 2px solid #000;
    padding-top: 30px;
}

legend {
  margin-left: 1em;
  background-color: white;
  border: 2px solid gray;
  height: 32px;
  border-radius: 10px;
  padding: 2px 10px;
  color: #000;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.471;
  position: absolute !important;
  top: -15px;
}
.bulk_info_title {
    width: 130px;
}
.payment_info_title {
  width: 155px;
}
.debtor_info_title {
  width: 145px;
}
.creditor_info_title {
  width: 155px;
}
.list-element-odd {
  background-color: rgba(0,0,0,.05);
}
.payment_info .ulright {
  margin-bottom: 0;
}
.debtor_info li span {
  width: 150px;
}
.padding-left {
  padding-left: 20px;
}
fieldset ul li {
  color: #000;
}
fieldset ul li span {
  display: inline-block;
  font-weight: bold;
  line-height: 25px;
  color: #000;
  width: auto;
}
.container-pdf .row {
  margin: 0;
}