{% extends 'new_base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% load banks_tags %}

{% block title %} {% trans 'Transactions' %} {% endblock %}

{% block gentellacss %}
  <!-- Datatables -->
  <link href="{% static 'gentella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/transaction_details.css' %}" rel="stylesheet">
  <link href="{% static 'css/disbursement_transactions_dashboard.css' %}" rel="stylesheet">
  <style>
    #trxDetailsDataRight > li > span {
      width: 120px;
    }
    #download-doc {
      width: 17rem !important;
      margin-right: 10px;
      color: #333;
    }
    #download-doc span {
      color: #333;
    }
    .pagination > li > span {
      width: 33px;
    }
  </style>
  <!-- transaction details pdf css -->
  <link href="{% static 'css/transaction_details_pdf.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
  <!-- Dashboard Row  -->
  {% include 'disbursement/disbursement_transactions_dashboard.html' %}

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{% trans 'Transactions' %}</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table table-bordered" id="transaction-table">
            {% if doc_obj.is_bank_wallet %}
              <thead>
              <tr>
                <th>{% trans 'Wallet Number' %}</th>
                <th>{% trans 'Amount' %}</th>
                {% if not request.user.is_vodafone_default_onboarding and not request.user.is_vodafone_facilitator_onboarding and not request.user.is_banks_standard_model_onboaring %}
                  <th>{% trans 'Fees' %}</th>
                  <th>{% trans 'Vat' %}</th>
                {% endif %}
                <th>{% trans 'Issuer' %}</th>
                <th>{% trans 'Status' %}</th>
              </tr>
              </thead>
              <tbody>
              {% for transaction in doc_transactions %}
                <tr data-id="{{ transaction.uid }}"
                    data-anon_recipient="{{ transaction.anon_recipient }}"
                    data-amount="{{ transaction.amount }}"
                    data-recipient_name="{{ transaction.recipient_name }}"
                    data-issuer="{{ transaction.issuer_choice_verbose }}"
                    data-status="{{ transaction.status_choice_verbose }}"
                    data-transaction_status_code="{{ transaction.transaction_status_code }}"
                    data-transaction_status_description="{{ transaction.transaction_status_description }}"
                    data-doc_maker="{{ doc_obj.owner }}"
                    data-doc_checker="{{ doc_obj.disbursed_by }}"
                    data-doc_id="{{ doc_obj.id }}"
                    data-created_at="{{ transaction.parent_transaction.created_at }}"
                    data-updated_at="{{ transaction.created_at }}"
                    class="row-hover">
                  <td>{{ transaction.anon_recipient }}</td>
                  <td>{{ transaction.amount }}</td>
                  {% if not request.user.is_vodafone_default_onboarding and not request.user.is_vodafone_facilitator_onboarding and not request.user.is_banks_standard_model_onboaring %}
                    <td>{{ transaction.fees }}</td>
                    <td>{{ transaction.vat }}</td>
                  {% endif %}
                  <td>{{ transaction.issuer_choice_verbose }}</td>
                  <td>{{ transaction.status_choice_verbose }}</td>
                </tr>
              {% endfor %}
              </tbody>
            {% else %}
              <thead>
              <tr>
                <th>{% trans 'Account Number / IBAN' %}</th>
                <th>{% trans 'Amount' %}</th>
                {% if not request.user.is_vodafone_default_onboarding and not request.user.is_vodafone_facilitator_onboarding  and not request.user.is_banks_standard_model_onboaring%}
                  <th>{% trans 'Fees' %}</th>
                  <th>{% trans 'Vat' %}</th>
                {% endif %}
                <th>{% trans 'Status' %}</th>
              </tr>
              </thead>
              <tbody>
              {% for transaction in doc_transactions %}
                <tr data-id="{{ transaction.parent_transaction.transaction_id }}"
                    data-creditor_account_number="{{ transaction.creditor_account_number }}"
                    data-amount="{{ transaction.amount }}"
                    data-creditor_name="{{ transaction.creditor_name }}"
                    data-status="{{ transaction.status_choice_verbose }}"
                    data-creditor_bank="{{ transaction.creditor_bank }}"
                    data-bank_name="{{ transaction.creditor_bank|bank_name }}"
                    data-type="{{ transaction|transaction_type }}"
                    data-transaction_status_code="{{ transaction.transaction_status_code }}"
                    data-transaction_status_description="{{ transaction.transaction_status_description }}"
                    data-doc_maker="{{ doc_obj.owner }}"
                    data-doc_checker="{{ doc_obj.disbursed_by }}"
                    data-doc_id="{{ doc_obj.id }}"
                    data-created_at="{{ transaction.parent_transaction.created_at }}"
                    data-updated_at="{{ transaction.created_at }}"
                    data-debtor_account="{{ transaction.debtor_account }}"
                    class="row-hover">
                  <td>{{ transaction.creditor_account_number }}</td>
                  <td>{{ transaction.amount }}</td>
                  {% if not request.user.is_vodafone_default_onboarding and not request.user.is_vodafone_facilitator_onboarding and not request.user.is_banks_standard_model_onboaring %}
                    <td>{{ transaction.fees }}</td>
                    <td>{{ transaction.vat }}</td>
                  {% endif %}
                  <td>{{ transaction.status_choice_verbose }}</td>
                </tr>
              {% endfor %}
              </tbody>
            {% endif %}
          </table>
          <ul class="pagination">
            {% if doc_transactions.has_previous %}
              <li>
                <a href="?page={{ doc_transactions.previous_page_number }}">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
              </li>
            {% else %}
              <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
            {% endif %}

            {% if doc_transactions.number|add:'-4' > 1 %}
              <li><a href="?page={{ doc_transactions.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in doc_transactions.paginator.page_range %}
              {% if doc_transactions.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > doc_transactions.number|add:'-5' and i < doc_transactions.number|add:'5' %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if doc_transactions.paginator.num_pages > doc_transactions.number|add:'4' %}
              <li><a href="?page={{ doc_transactions.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if doc_transactions.has_next %}
              <li><a href="?page={{ doc_transactions.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            {% else %}
              <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- transaction details -->
  <div id="trxDetails" style="display: none;" class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2 class="font-13 m-b-30" style="font-weight: bolder;">{% trans 'Transaction Details' %}</h2>
          {% if doc_obj.is_bank_card %}
            <button id="generate-pdf" class="btn btn-default export-dropdown
                    pull-{{'right'|invert_dir:LANGUAGE_CODE}}"
                    style="width:16rem !important">
              <i class="fa fa-file-pdf-o"></i> {% trans 'Export PDF Report' %}
            </button>
          {% endif %}
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7">
              <ul id="trxDetailsData">
              </ul>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
              <ul id="trxDetailsDataRight">
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <ul id="trxDetailsDataLast">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Model For Export All -->
  <div class="modal fade" id="exportAllModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{% trans 'Report Exported Successfully' %}</h4>
        </div>
        <div class="modal-body">
          {% trans 'You will receive an email shortly with the file to download' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Model For Export Success -->
  <div class="modal fade" id="exportSuccessModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{% trans 'Report Exported Successfully' %}</h4>
        </div>
        <div class="modal-body">
          {% trans 'You will receive an email shortly with the success data file to download' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Model For Export Failed -->
  <div class="modal fade" id="exportFailedModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{% trans 'Report Exported Successfully' %}</h4>
        </div>
        <div class="modal-body">
          {% trans 'You will receive an email shortly with the failed data file to download' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <!-- Datatables -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="{% static 'gentella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <!--  generate pdf script-->
  <script src="{% static 'js/html2pdf.bundle.min.js' %}"></script>

  <script>
    var table = $('#transaction-table').DataTable({
      "bLengthChange" : false,
      "bPaginate": false,
      "bInfo" : false,
      "searching": false
    });
  
    var buttons = new $.fn.dataTable.Buttons( table, {
      buttons: [
        {
          extend: 'copy',
          text : "{% trans 'Copy' %}",
          exportOptions: {
              charSet: "utf-8",
          }
        },
        {
          extend: 'print',
          text : "PDF",
        },
        {
          extend: 'excelHtml5',
          text : "{% trans 'Export' %}",

          customize: function( xlsx ) {

            var sheet = xlsx.xl.worksheets['sheet1.xml'];
            $('row c[r^="A"]', sheet).attr( 's', '0' );
         }
        }
      ]
    });
  
    table.buttons( 0, null ).container().prependTo(
        table.table().container()
    );
    let empty_row = $('.dataTables_empty');
    if (empty_row) {
      empty_row.parent().attr('id', 'empty_row');
    }

    let search_btn_str = `<form action="." style="display:inline;" method="get">`
    search_btn_str += `<div class="input-group pull-{{'right'|invert_dir:LANGUAGE_CODE}}" style='margin-bottom:0;'>`;
    search_btn_str += `<input type='text' class='form-control' name='search' placeholder='Search for a transaction'>`;
    search_btn_str += `<span class='input-group-btn'>`;
    search_btn_str += `<button class='btn btn-default' type='submit' value='search'>Go!</button>`;
    search_btn_str += `</span></div></form>`;
    $(search_btn_str).insertAfter( ".dt-buttons.btn-group" );

    $(document).ready(function () {
      $('#export-failed').on('click', function (ev) {
        $.ajax({
          type: 'GET',
          url: '{{request.path}}' + '?export_failed=true',
          success: function (data, text, xhr) {
            $('#exportFailedModal').modal({
              backdrop: 'static',
              keyboard: false
            })
          },
        })
      });

      $('#export-success').on('click', function (ev) {
        $.ajax({
          type: 'GET',
          url: '{{request.path}}' + '?export_success=true',
          success: function (data, text, xhr) {
            $('#exportSuccessModal').modal({
              backdrop: 'static',
              keyboard: false
            })
          },
        })
      });

      $('#export-all').on('click', function (ev) {
        $.ajax({
          type: 'GET',
          url: '{{request.path}}' + '?export_all=true',
          success: function (data, text, xhr) {
            $('#exportAllModal').modal({
              backdrop: 'static',
              keyboard: false
            })
          },
        })
      });
    });
  </script>

  <!-- transaction details script  -->
  <script>
    let trx = {};
    $('#transaction-table tbody').on('click', 'tr:not(#empty_row)', function () {

      if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
        $("#trxDetails").slideUp().fadeOut();
      } else {
        $('tr.selected').removeClass('selected');
        $(this).addClass('selected');
        let ul = $('#trxDetailsData');
        let ulRight = $('#trxDetailsDataRight');
        let ulLast = $('#trxDetailsDataLast');
        let appendedTags = '';
        let appendedTagsRight = '';
        let appendedTagsBottom = '';

        trx.created_at = $(this).data('created_at');
        trx.updated_at = $(this).data('updated_at');
        trx.debtor_account = $(this).data('debtor_account');

        {% if doc_obj.is_bank_wallet %}
          trx.id = $(this).data('id');
          appendedTags += `<li><span>{% trans 'Transaction ID' %}</span><b>:</b>${trx.id}</li>`;
          trx.anon_recipient = $(this).data('anon_recipient');
          appendedTags += `<li><span>{% trans 'Wallet Number' %}</span><b>:</b>${trx.anon_recipient}</li>`;
          trx.amount = $(this).data('amount');
          appendedTags += `<li><span>{% trans 'Amount' %}</span><b>:</b>${trx.amount}</li>`;
          trx.recipient_name = $(this).data('recipient_name');
          appendedTags += `<li><span>{% trans 'Full Name' %}</span><b>:</b>${trx.recipient_name}</li>`;
          trx.status = $(this).data('status');
          appendedTags += `<li><span>{% trans 'Status' %}</span><b>:</b>${trx.status}</li>`;
        {% else %}
          trx.id = $(this).data('id');
          appendedTags += `<li><span>{% trans 'Transaction ID' %}</span><b>:</b>${trx.id}</li>`;
          trx.creditor_account_number = $(this).data('creditor_account_number');
          appendedTags += `<li><span>{% trans 'Account Number / IBAN' %}</span><b>:</b>${trx.creditor_account_number}</li>`;
          trx.amount = $(this).data('amount');
          appendedTags += `<li><span>{% trans 'Amount' %}</span><b>:</b>${trx.amount}</li>`;
          trx.creditor_name = $(this).data('creditor_name');
          appendedTags += `<li><span>{% trans 'Full Name' %}</span><b>:</b>${trx.creditor_name}</li>`;
          trx.creditor_bank = $(this).data('creditor_bank');
          trx.bank_name = $(this).data('bank_name');
          trx.type = $(this).data('type');
          trx.status = $(this).data('status');
          appendedTags += `<li><span>{% trans 'Status' %}</span><b>:</b>${trx.status}</li>`;
        {% endif %}

        {% if doc_obj.is_bank_wallet %}
          let issuer = $(this).data('issuer');
          appendedTagsRight += `<li><span>{% trans 'Issuer' %}</span><b>:</b>${issuer}</li>`;
        {% else %}
          appendedTagsRight += `<li><span>{% trans 'Bank Swift Code' %}</span><b>:</b>${trx.creditor_bank}</li>`;
          appendedTagsRight += `<li><span>{% trans 'Bank Name' %}</span><b>:</b>${trx.bank_name}</li>`;
          appendedTagsRight += `<li><span>{% trans 'Transaction Type' %}</span><b>:</b>${trx.type}</li>`;
        {% endif %}

        let doc_id = $(this).data('doc_id');
        appendedTagsRight += `<li><span>{% trans 'Document ID' %}</span><b>:</b>${doc_id}</li>`;
        let doc_maker = $(this).data('doc_maker');
        appendedTagsRight += `<li><span>{% trans 'Maker' %}</span><b>:</b>${doc_maker}</li>`;
        let doc_checker = $(this).data('doc_checker');
        appendedTagsRight += `<li><span>{% trans 'Checker' %}</span><b>:</b>${doc_checker}</li>`;

        trx.transaction_status_code = $(this).data('transaction_status_code');
        appendedTagsBottom += `<li><span>{% trans 'Disbursement Status Code' %}</span><b>:</b>${trx.transaction_status_code}</li>`;
        trx.transaction_status_description = $(this).data('transaction_status_description');
        appendedTagsBottom += `<li><span>{% trans 'Disbursement Status Description' %}</span><b>:</b>${trx.transaction_status_description}</li>`;

        ul.empty();
        ul.append(appendedTags);
        ulRight.empty();
        ulRight.append(appendedTagsRight);
        ulLast.empty();
        ulLast.append(appendedTagsBottom);

        $("#trxDetails").slideDown();
        $('html,body').animate({
          scrollTop: $("#trxDetails").offset().top
        }, 'slow');
      }
    });
  </script>

  <!-- generate pdf script-->
  <!-- Important Not this script should be after transaction details script because   -->
  <!-- because it use trx object that exist in  transaction details script above -->
  {% include 'disbursement/transaction_details_pdf_js.html' %}
{% endblock %}
