{% extends 'new_base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Transactions {% endblock %}
{% block body %}
<div id="content">{% trans 'Please wait.' %} <span id="loading"></span></div>
{% endblock %}
{% block script %}
<script>
    $(function(){
        $.ajaxSetup({ cache: false, timeout: 360000 });
        var url = "/disburse/export_failed_download/";
        var i = 0;
        (function worker() {

            $.getJSON(url+"?task_id=".concat('{{task_id}}'), function(data){
                if(data.filename) {
                    var file_url = '{{media_url}}' + 'documents/disbursement/' + data.filename;
                    $("#content").html("{% trans 'If your download does not start automatically, please click' %} <a href='" + file_url + "'>{% trans 'here' %}</a>.");
                    window.location.href = file_url;
                } else {
                    setTimeout(worker, 5000);
                }
            });
        })();
        setInterval(function() {
            i = ++i % 4;
            $("#loading").html("loading"+Array(i+1).join("."));
        }, 1000);
    });
</script>
{% endblock %}
