{% extends 'new_base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load custom_tags %}

{% block title %} {% trans 'Home' %} {% endblock %}
{% block body %}

<div class="row">
    <div class="well upload-nav col-lg-12">
        <div class="panel panel-default">
          <div class="well upload-nav col-xs-12">
            <strong style="margin-top: 15px;">{% trans 'Welcome home ...' %}</strong>
          </div>
          {% if request.user.has_custom_budget or  request.user.root.has_custom_budget%}
            <div class="well col-xs-12">
              <h4>{% trans 'Your current budget is: ' %} {{ request.user.root.budget.current_balance }} EG</h4>
            </div>
          {% endif %}
        </div>
    </div>
</div>
{%endblock%}