{% extends 'new_base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load custom_tags %}

{% load banks_tags i18n %}

{% block title %} {% trans 'Home' %} {% endblock %}
{% block customcss %}
  <style>
    .text-white {
      color: #FFFFFF !important;
    }
    .bg-analytics {
      background: -webkit-linear-gradient(332deg, #1f0beb, rgb(43, 112, 176));
    }
    .card {
      margin-bottom: 2.2rem;
      border: none;
      box-shadow: 0 4px 25px 0 rgb(0 0 0 / 10%);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      position: relative;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #FFFFFF;
      background-clip: border-box;
      border: 1px solid rgba(34, 41, 47, 0.125);
      border-radius: 1rem;
    }
    .card-body {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.5rem;
    }
    .bg-analytics .img-left {
      width: 200px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .bg-analytics .img-right {
      width: 175px;
      position: absolute;
      top: 0;
      right: 0;
    }
    .bg-analytics .avatar {
      margin-bottom: 2rem;
    }
    .avatar.avatar-xl {
      font-size: 1.5rem;
    }
    .avatar {
      white-space: nowrap;
      background-color: #C3C3C3;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      color: #FFFFFF;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      font-size: 0.75rem;
      text-align: center;
      vertical-align: middle;
      margin: 5px;
    }
    .bg-primary {
      background-color: #7367F0 !important;
    }
    .mt-0, .my-0 {
      margin-top: 0 !important;
    }
    .shadow {
      box-shadow: 0 0.5rem 1rem rgb(34 41 47 / 15%) !important;
    }
    .avatar.avatar-xl .avatar-content {
      height: 70px;
      width: 70px;
    }
    .avatar img {
      border-radius: 0%;
    }
    .avatar .avatar-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .white {
      color: #FFFFFF !important;
    }
    .font-large-1 {
      font-size: 4rem !important;
    }
    .text-center {
      text-align: center !important;
    }
    .wave {
      animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
      animation-duration: 2.5s;        /* Change to speed up or slow down */
      animation-iteration-count: infinite;  /* Never stop waving :) */
      transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
      display: inline-block;
    }
    @keyframes wave-animation {
        0% { transform: rotate( 0.0deg) }
       10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
       20% { transform: rotate(-8.0deg) }
       30% { transform: rotate(14.0deg) }
       40% { transform: rotate(-4.0deg) }
       50% { transform: rotate(10.0deg) }
       60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
      100% { transform: rotate( 0.0deg) }
    }
    .mb-2, .my-2 {
      margin-bottom: 1.5rem !important;
    }
    h1 {
      font-size: 3rem;
    }
    .avatar {
      white-space: nowrap;
      background-color: #C3C3C3;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      color: #FFFFFF;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      font-size: 0.75rem;
      text-align: center;
      vertical-align: middle;
      margin: 5px;
    }
    .bg-rgba-primary {
      background: rgba(60, 110, 240, 0.15) !important;
    }
    .p-50 {
      padding: 0.5rem !important;
    }
    .mb-1, .my-1 {
      margin-bottom: 1rem !important;
    }
    .m-0 {
      margin: 0 !important;
    }
    .font-medium-5 {
      font-size: 3rem !important;
    }
    .text-primary {
      color: #7367F0 !important;
    }
    .feather {
      width: 60px;
      height: 60px;
    }
    .text-bold-700 {
      font-weight: 700;
      line-height: 1.2;
      color: #2C2C2C;
      font-style: italic;
    }
    .line-ellipsis {
      font-size: 19px;
      margin-top: 0;
      margin-bottom: 9px;
      font-style: italic;
    }
    .bg-rgba-success {
      background: rgba(40, 199, 111, 0.15) !important;
    }
    .text-success {
      color: #28C76F !important;
    }
    .icon-logo {
      width: 70px;
      max-width: 70px !important;
      height: 70px;
    }
    .bg-rgba-danger {
      background: rgba(234, 84, 85, 0.15) !important;
    }
    .et-icon {
      width: 80px;
      height: 50px;
    }
    .et-m-b {
      height: 20px;
    }
    .bg-rgba-info {
      background: rgba(0, 207, 232, 0.15) !important;
    }
    .text-info {
      color: #00CFE8 !important;
    }
    .card .card-header {
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-bottom: none;
      padding: 1.5rem 1.5rem 0;
      background-color: transparent;
    }

    .card-header:first-child {
      border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
    }
    .card-header {
      padding: 1.5rem 1.5rem;
      margin-bottom: 0;
      background-color: rgba(34, 41, 47, 0.03);
      border-bottom: 1px solid rgba(34, 41, 47, 0.125);
    }
    .form-control {
      border-radius: 5px;
    }
    #export_btn {
      border-radius: 5px;
      width: 100%;
      color: rgb(22, 56, 88);
    }
    .ui-datepicker-calendar {
      background-color: white;
    }
    .ui-state-default {
      background: white;
      color: rgb(22, 56, 88);
    }
    .alert-primary {
      text-align: center;
      color: #EA5455 !important;
      font-size: 15px;
    }
    .alert {
      position: relative;
      padding: 0.71rem 0.71rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      font-weight: 500;
      border: none;
    }
    #export_message {
      display: none;
    }
  </style>
{% endblock %}
{% block body %}
<div class="row">
  <div class="col-lg-8 col-md-12 col-sm-12">
    <div class="card bg-analytics text-white">
      <div class="card-content">
        <div class="card-body text-center">
          <div class="avatar avatar-xl bg-primary shadow mt-0">
            <div class="avatar-content">
              <span class="wave white font-large-1">👋</span>
            </div>
          </div>
          <div class="text-center">
            <h1 class="mb-2 text-white">Welcome {{request.user.username}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if request.user.is_maker or request.user.is_checker %}
    <div class="col-lg-1 col-md-4 col-sm-4">
    </div>
  {% endif %}
  {% if request.user.has_custom_budget or  request.user.root.has_custom_budget%}
    <div class="col-lg-2 col-md-6 col-sm-6">
      <div class="card text-center">
        <div class="card-content">
          <div class="card-body">
            <div class="avatar bg-rgba-primary p-50 m-0 mb-1">
              <div class="feather avatar-content">
                <i class="fa fa-money text-primary font-medium-5"></i>
              </div>
            </div>
            <h2 class="text-bold-700">{{ request.user.root.budget.current_balance }} LE</h2>
            <p class="mb-0 line-ellipsis">{% trans 'Budget ' %}</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if request.user.is_root or request.user.is_instantapiviewer %}
    <div class="col-lg-2 col-md-6 col-sm-6">
      <div class="card text-center">
        <div class="card-content">
          <div class="card-body">
            <div class="avatar bg-rgba-success p-50 m-0 mb-1">
              <div class="feather avatar-content">
                <i class="fa fa-bitcoin text-success font-medium-5"></i>
              </div>
            </div>
            <h2 class="count text-bold-700">{{ all_transactions }}</h2>
            <p class="mb-0 line-ellipsis">{% trans 'Transactions' %}</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% if request.user.is_root or request.user.is_instantapiviewer %}
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-4">
        <div class="card text-center">
          <div class="card-content">
            <div class="card-body">
              <div class="avatar m-0 mb-1" style="width:70px;height:70px;">
                <img class="icon-logo" src="{% static 'img/vf_cash.png' %}">
              </div>
              <h2 class="count text-bold-700">{{ vodafone_transactions }}</h2>
              <p class="mb-0 line-ellipsis">{% trans 'VODAFONE' %}</p>
            </div>
          </div>
        </div>
      </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        <div class="card text-center">
          <div class="card-content">
            <div class="card-body">
              <div class="m-0 mb-1">
                <img class="et-icon" src="{% static 'img/etisalat_cash.png' %}">
              </div>
              <div class="et-m-b"></div>
              <h2 class="count text-bold-700">{{ etisalat_transactions }}</h2>
              <p class="mb-0 line-ellipsis">{% trans 'ETISALAT' %}</p>
            </div>
          </div>
        </div>
      </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        <div class="card text-center">
          <div class="card-content">
            <div class="card-body">
              <div class="avatar m-0 mb-1" style="width:70px;height:70px;background-color: white;">
                <img class="icon-logo" src="{% static 'img/orange_cash.png' %}">
              </div>
              <h2 class="count text-bold-700">{{ orange_transactions }}</h2>
              <p class="mb-0 line-ellipsis">{% trans 'ORANGE' %}</p>
            </div>
          </div>
        </div>
      </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        <div class="card text-center">
          <div class="card-content">
            <div class="card-body">
              <div class="avatar m-0 mb-1" style="width:70px;height:70px;background-color: white;">
                <img class="icon-logo" src="{% static 'img/aman.jpg' %}">
              </div>
              <h2 class="count text-bold-700">{{ aman_transactions }}</h2>
              <p class="mb-0 line-ellipsis">{% trans 'AMAN' %}</p>
            </div>
          </div>
        </div>
      </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        <div class="card text-center">
          <div class="card-content">
            <div class="card-body">
              <div class="avatar m-0 mb-1"
                   style="width:70px;height:70px;background-color: white;border-radius:0%;">
                <img class="icon-logo" src="{% static 'img/bank-wallet.png' %}">
              </div>
              <h2 class="count text-bold-700">{{ bank_wallet_transactions }}</h2>
              <p class="mb-0 line-ellipsis" style="font-size:17px;">{% trans 'BANK WALLET' %}</p>
            </div>
          </div>
        </div>
      </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        <div class="card text-center">
          <div class="card-content">
            <div class="card-body">
              <div class="avatar m-0 mb-1" style="width:70px;height:70px;background-color: white;">
                <img class="icon-logo" src="{% static 'img/bank_card.png' %}">
              </div>
              <h2 class="count text-bold-700">{{ banks_transactions }}</h2>
              <p class="mb-0 line-ellipsis">{% trans ' BANKS' %}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endif %}
<div class="row">
  <div id="export_message" class="col-lg-12 col-md-12 col-sm-12"
       style="{% if request.GET.export_message %}display:block;{% endif %}">
    <div class="alert alert-primary mb-2" role="alert">
      {{request.GET.export_message}}
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Export transactions</h4>
      </div>
      <div class="card-content collapse show">
        <div class="card-body">
          <div class="users-list-filter">
            <form action="." method="get">
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                  <label>Start Date</label>
                  <fieldset class="form-group">
                    <input required type="text" placeholder="yyyy-mm-dd"
                           class="form-control input_date" name="export_start_date">
                  </fieldset>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                  <label>End Date</label>
                  <fieldset class="form-group">
                    <input required type="text" placeholder="yyyy-mm-dd" min="1997-01-01"
                           max="2030-12-31" class="form-control input_date" name="export_end_date">
                  </fieldset>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <label for="users-list-verified">Issuer</label>
                  <fieldset class="form-group">
                    <select class="form-control" id="users-list-verified" name="export_issuer">
                      {% for issuer in issuer_options %}
                        <option value="{{issuer}}">{{issuer}}</option>
                      {% endfor %}
                    </select>
                  </fieldset>
                </div>
                <div class="col-12 col-sm-6 col-lg-2">
                  <label style="visibility: hidden;">Department</label>
                  <fieldset class="form-group">
                    <button id="export_btn" type="submit" class="btn btn-default export-dropdown
                            pull-{{'left'|invert_dir:LANGUAGE_CODE}}">
                      <em class="glyphicon glyphicon-download-alt"></em> {% trans 'Export' %}
                    </button>
                  </fieldset>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{% trans 'Recent Transactions' %}</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      {# transactions table #}
      <div class="x_content">
        <table class="table table-bordered" id="transaction-table">
          <thead>
            <tr>
              <th class="trxTableHeader">{% trans ' Identifier' %}</th>
              <th class="trxTableHeader">{% trans 'Recipient' %}</th>
              <th class="trxTableHeader">{% trans 'Amount' %}</th>
              <th class="trxTableHeader">{% trans 'Fees' %}</th>
              <th class="trxTableHeader">{% trans 'Vat' %}</th>
              <th class="trxTableHeader">{% trans 'Issuer' %}</th>
              <th class="trxTableHeader">{% trans 'Status' %}</th>
              <th class="trxTableHeader">{% trans 'Disbursed At' %}</th>
            </tr>
          </thead>
          <tbody>
          {% for trx in transactions %}
            <tr>
              {%if trx.transaction_id%}
              <td>{{ trx.transaction_id }}</td>
              {% else %}
              <td>{{ trx.uid}}</td>
              {% endif %}
              {% if trx.anon_recipient%}
              <td>{{ trx.anon_recipient}}</td>
              {% elif trx.creditor_account_number%}
              <td>{{ trx.creditor_account_number }}</td>
              {% else%}
              <td>{{ trx.msisdn }}</td>
              {% endif%}
              <td>{{ trx.amount }}</td>
              <td>{{ trx.fees }}</td>
              <td>{{ trx.vat }}</td>
              {% if trx.issuer_choice_verbose%}
              <td>{{ trx.issuer_choice_verbose }}</td>
              {% elif trx.issuer  %}
              <td>{{ trx.issuer}}</td>
              {%else%}
              <td>{% trans 'Bank Card'%}</td>
              {% endif %}
              {% if trx.status_choice_verbose%}
              <td>
                <div class="row" style="{%if trx.status_choice_verbose == "Failed"%}text-align: center; color:rgb(255, 0, 0); background-color: #fdd7d7;
                {%elif trx.status_choice_verbose == "Pending"%} text-align: center; color:rgb(218, 127, 9); background-color:rgb(247, 229, 205)
                {%else%}text-align: center; color:rgb(44, 119, 94); background-color: #cff3ee; {%endif%}">
                {{ trx.status_choice_verbose }}
                {% if trx.status_choice_verbose == "Failed" %}
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </div>
              </td>
              {% endif%}
              {% else %}
                <td >
                  {% if trx.is_disbursed %}
                  <div class="row" style="text-align: center; color:rgb(44, 119, 94); background-color: #cff3ee;" >
                    {% trans "Successful" %}
                  </div>

                  {% elif trx.reason == '' and trx.disbursed_date == None %}
                  <div class="row" style="text-align: center; color:rgb(218, 127, 9); background-color:rgb(247, 229, 205)" >
                    {% trans "Pending" %}
                  </div>
                  {% else %}
                  <div class="row" style="text-align: center; color:rgb(255, 0, 0); background-color: #fdd7d7;" >
                    {% trans "Failed" %}
                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span>

                  </div>
                  {% endif %}
                </td>
              {% endif %}

              <td>{{ trx.disbursed_date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {# End of transactions table #}
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
  <link href="{% static 'gentella/jquery-ui-1.10.4.css' %}" rel="stylesheet"/>
  <script src="{% static 'rest_framework/js/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'gentella/jquery-ui-1.10.4.js' %}"></script>
  <script>
    var $j = jQuery.noConflict();
    $j(function () {
      $j(".input_date").datepicker({
        dateFormat: 'yy-mm-dd',
      });
    });
  </script>
  <script>
    $('.count').each(function () {
      $(this).prop('Counter',0).animate({
        Counter: $(this).text()
      }, {
          duration: 4000,
          easing: 'swing',
          step: function (now) {
              $(this).text(Math.ceil(now));
          }
      });
    });
  </script>
{% endblock %}
