{% extends 'new_base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% load error_codes_tags %}

{% block title %} {% trans 'Transactions' %} {% endblock %}
{% block gentellacss %}
  {# Datatables #}
  <link href="{% static 'gentella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gentella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/transaction_details.css' %}" rel="stylesheet">
  <link href="{% static 'css/disbursement_transactions_dashboard.css' %}" rel="stylesheet">
  <link href="{% static 'css/right_sidebar.css' %}" rel="stylesheet">
  <style>
    #trxDetailsDataRight > li > span{
      width: 90px;
    }
    #download-doc {
        width: 17rem!important;
        margin-right: 10px;
        color: #333;
    }
    #download-doc span {
        color: #333;
    }
    .pagination > li > span {
      width: 33px;
    }
    #sidebarCollapse {
      color: #333;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
            <h2>{% trans 'Bank wallets/Orange cash Transactions' %}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li style="float: right;margin-left:10px;" title="open sidebar search">
                <a class="btn btn-default export-dropdown" id="sidebarCollapse"><i class="fa fa-search"></i> Search</a>
              </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        {# transactions table #}
        <div class="x_content">
          <table class="table table-bordered" id="transaction-table">
            <thead>
              <tr>
                <th class="trxTableHeader">{% trans 'Transaction ID' %}</th>
                <th class="trxTableHeader">{% trans 'Recipient' %}</th>
                <th class="trxTableHeader">{% trans 'Amount' %}</th>
                <th class="trxTableHeader">{% trans 'Fees' %}</th>
                <th class="trxTableHeader">{% trans 'Vat' %}</th>
                <th class="trxTableHeader">{% trans 'Issuer' %}</th>
                <th class="trxTableHeader">{% trans 'Status' %}</th>
                <th class="trxTableHeader">{% trans 'Disbursed At' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in transactions %}
                <tr data-id="{{ transaction.uid }}"
                    data-anon_recipient="{{ transaction.anon_recipient }}"
                    data-recipient_name="{{ transaction.recipient_name }}"
                    data-amount="{{ transaction.amount }}"
                    data-status="{{ transaction.status_choice_verbose }}"
                    data-issuer_type="{{ transaction.issuer_choice_verbose }}"
                    data-created_at="{{ transaction.created_at }}"
                    data-updated_at="{{ transaction.updated_at }}"
                    data-disbursed_at="{{ transaction.disbursed_date }}"
                    data-status_code="{{ transaction.transaction_status_code }}"
                    data-status_description="{{ transaction.transaction_status_description }}"
                    data-aman_is_paid="{{ transaction.aman_transaction.is_paid }}"
                    class="row-hover"
                    data-href="#">
                  <td>{{ transaction.uid }}</td>
                  <td>{{ transaction.anon_recipient }}</td>
                  <td>{{ transaction.amount }}</td>
                  <td>{{ transaction.fees }}</td>
                  <td>{{ transaction.vat }}</td>
                  <td>{{ transaction.issuer_choice_verbose }}</td>
                  <td>{{ transaction.status_choice_verbose }}</td>
                  <td>{{ transaction.disbursed_date }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <ul class="pagination">
            {% if portal_transactions.has_previous %}
            <li>
              <a href="?page={{ portal_transactions.previous_page_number }}">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </a>
            </li>
            {% else %}
            <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
            {% endif %}

            {% if portal_transactions.number|add:'-4' > 1 %}
            <li><a href="?page={{ portal_transactions.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in portal_transactions.paginator.page_range %}
            {% if portal_transactions.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% elif i > portal_transactions.number|add:'-5' and i < portal_transactions.number|add:'5' %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if portal_transactions.paginator.num_pages > portal_transactions.number|add:'4' %}
            <li><a href="?page={{ portal_transactions.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if portal_transactions.has_next %}
            <li><a href="?page={{ portal_transactions.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            {% else %}
            <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
            {% endif %}
          </ul>
        </div>
        {# End of transactions table #}
      </div>
    </div>
    {# right sidebar #}
    {% include 'disbursement/right_sidebar.html' with type='instant_portal_wallets' %}
    {# End of right sidebar #}
  </div>

  {# Transaction details #}
  <div id="trxDetails" style="display: none;" class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2 class="font-13 m-b-30" style="font-weight: bolder;">{% trans 'Transaction Details' %}</h2>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <ul id="trxDetailsData">
              </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <ul id="trxDetailsDataRight">
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <ul id="trxDetailsDataLast">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# End of transaction details #}
{% endblock %}

{% block script %}
  {# Datatables #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="{% static 'gentella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'gentella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  {# DataTables #}
  <script>
    var table = $('#transaction-table').DataTable({
      "bLengthChange" : false,
      "bPaginate": false,
      "bInfo" : false
    });

    var buttons = new $.fn.dataTable.Buttons( table, {
      buttons: [
        {
          extend: 'copy',
          text : "{% trans 'Copy' %}",
          exportOptions: {
              charSet: "utf-8",
          }
        },
        {
          extend: 'print',
          text : "PDF",
        },
        {
          extend: 'excelHtml5',
          text : "{% trans 'Export' %}",
          customize: function( xlsx ) {
            var sheet = xlsx.xl.worksheets['sheet1.xml'];
            $('row c[r^="A"]', sheet).attr( 's', '0' );
         }
        }
      ]
    });

    table.buttons( 0, null ).container().prependTo(
        table.table().container()
    );
    let empty_row = $('.dataTables_empty');
    if (empty_row) {
      empty_row.parent().attr('id', 'empty_row');
    }
  </script>
  {# transaction details #}
  <script>
      $('#transaction-table tbody').on('click', 'tr:not(#empty_row)', function () {
        if ($(this).hasClass('selected')) {
          $(this).removeClass('selected');
          $("#trxDetails").slideUp().fadeOut();
        } else {
          $('tr.selected').removeClass('selected');
          $(this).addClass('selected');
          let ul = $('#trxDetailsData');
          let ulRight = $('#trxDetailsDataRight');
          let ulLast = $('#trxDetailsDataLast');
          let appendedTags = '';

          let uid = $(this).data('id');
          appendedTags += `<li><span>{% trans 'Transaction ID' %}</span><strong>: </strong>${uid}</li>`;

          {% if bank_transactions %}
            let creditor_account_number = $(this).data('creditor_account_number');
            appendedTags += `<li><span>{% trans 'Recipient' %}</span><strong>: </strong>${creditor_account_number}</li>`;
            let creditor_name = $(this).data('creditor_name');
            appendedTags += `<li><span>{% trans 'Full Name' %}</span><strong>: </strong>${creditor_name}</li>`;
          {% else %}
            let anon_recipient = $(this).data('anon_recipient');
            appendedTags += `<li><span>{% trans 'Recipient' %}</span><strong>: </strong>${anon_recipient}</li>`;
            let issuer_type = $(this).data('issuer_type');

            if (['Orange', 'Bank Wallet'].includes(issuer_type)) {
              let recipient_name = $(this).data('recipient_name');
              appendedTags += `<li><span>{% trans 'Full Name' %}</span><strong>: </strong>${recipient_name}</li>`;
            }
          {% endif %}
          let amount = $(this).data('amount');
          appendedTags += `<li><span>{% trans 'Amount' %}</span><strong>: </strong>${amount}</li>`;
          let status = $(this).data('status');
          appendedTags += `<li><span>{% trans 'Status' %}</span><strong>: </strong>${status}</li>`;

          ul.empty();
          ul.append(appendedTags);
          appendedTags = '';

          {% if bank_transactions %}
            let creditor_bank_code = $(this).data('creditor_bank_code');
            appendedTags += `<li><span>{% trans 'Bank Swift Code' %}</span><strong>: </strong>${creditor_bank_code}</li>`;
            let creditor_bank_name = $(this).data('creditor_bank_name');
            appendedTags += `<li><span>{% trans 'Bank Name' %}</span><strong>: </strong>${creditor_bank_name}</li>`;
            let transaction_type = $(this).data('transaction_type');
            appendedTags += `<li><span>{% trans 'Transaction Type' %}</span><strong>: </strong>${transaction_type}</li>`;
          {% else %}
            appendedTags += `<li><span>{% trans 'Issuer' %}</span><strong>: </strong>${issuer_type}</li>`;
            let aman_is_paid = $(this).data('aman_is_paid');

            {# Determine is_paid? status for aman transactions #}
            if (issuer_type === 'Aman') {
              if (aman_is_paid === 'True') {
                appendedTags += `<li><span>{% trans 'Cashed Out?' %}</span><strong>: </strong><span style="color: darkgreen">&#10004;</span></li>`;
              } else {
                appendedTags += `<li><span>{% trans 'Cashed Out?' %}</span><strong>: </strong><span style="color: darkred">&#10006;</span></li>`;
              }
            }
          {% endif %}
          let created_at = $(this).data('created_at');
          appendedTags += `<li><span>{% trans 'Created At' %}</span><strong>: </strong>${created_at}</li>`;
          let updated_at = $(this).data('updated_at');
          appendedTags += `<li><span>{% trans 'Updated At' %}</span><strong>: </strong>${updated_at}</li>`;
          let disbursed_at = $(this).data('disbursed_at');
          appendedTags += `<li><span>{% trans 'Disbursed At' %}</span><strong>: </strong>${disbursed_at}</li>`;

          ulRight.empty();
          ulRight.append(appendedTags);
          appendedTags = '';

          let status_code = $(this).data('status_code');
          appendedTags += `<li><span>{% trans 'Transaction Status Code' %}</span><strong>: </strong>${status_code}</li>`;
          let status_description = $(this).data('status_description');
          appendedTags += `<li><span>{% trans 'Transaction Status Description' %}</span><strong>: </strong>${status_description}</li>`;
          ulLast.empty();
          ulLast.append(appendedTags);
          $("#trxDetails").slideDown();
          $('html,body').animate({
            scrollTop: $("#trxDetails").offset().top
          }, 'slow');
       }
      });
    </script>
  {# sidebar search #}
  <link href="{% static 'gentella/jquery-ui-1.10.4.css' %}" rel="stylesheet"/>
  <script src="{% static 'rest_framework/js/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'gentella/jquery-ui-1.10.4.js' %}"></script>
  <script>
        var $j = jQuery.noConflict();
        $j(function () {
          $j(".input_date").datepicker({
            dateFormat: 'yy-mm-dd',
          });
        });

        $(document).ready(function() {
          $("#sidebarCollapse").on("click", function() {
            openNav();
          });
        });
        function openNav() {
          $("#overlay").addClass("show");
          $("#filter-sidebar").addClass("show");
        }
        function closeNav() {
          $("#overlay").removeClass("show");
          $("#filter-sidebar").removeClass("show");
        }
      </script>
{% endblock %}