{% extends 'new_base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load custom_tags %}
{% load banks_tags i18n %}

{% block title %} {% trans 'Transactions' %} {% endblock %}

{% block customcss %}
  <link href="{% static 'css/transaction_details.css' %}" rel="stylesheet">
  <style>
    .dialogButtonDiv {
        float: right
    }
    .errorlist {
      list-style: none;
      padding: 0;
    }
    .help-block {
      color: red;
    }
    .alert-success {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }
    .alert-danger {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
    }
    ul > li > span{
      width: 160px;
    }
    #trxDetailsDataRight > li > span{
      width: 120px;
    }
    .export-dropdown {
      position: relative;
      display: inline-block;
      border: 0;
      background: transparent;
      border-radius: .5rem!important;
      width: 16rem!important;
      padding: .75rem!important;
      -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.14)!important;
      box-shadow: 0 2px 8px 0 rgba(0,0,0,.14)!important;
    }
    .pagination > li > span {
      width: 33px;
    }
  </style>
  <!-- transaction details pdf css -->
  <link href="{% static 'css/transaction_details_pdf.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
  {# Page content #}
  <div class="col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{% trans 'Single Step Transactions' %}</h3>
        </div>
        {% include "search_bar.html" %}
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><strong>{% trans 'Transactions Summary' %}</strong></h2>
              {% if user.is_checker or user.is_root %}
                {% if user.root.client.is_active %}
                  <div class="dialogButtonDiv pull-{{'right'|invert_dir:LANGUAGE_CODE}}">
                    <button id="addSingleTransaction" class="btn btn-primary">{% trans 'Make New Transaction' %}</button>
                  </div>
                {% else %}
                  <div class="alert alert-danger pull-{{'right'|invert_dir:LANGUAGE_CODE}}" role="alert">
                    {% trans "Your Entity is deactivated" %} <span class="glyphicon glyphicon-remove"></span>
                  </div>
                {% endif %}
              {% endif %}
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <table class="table table-bordered" id="transaction-table">
                {% if wallets %}
                  <thead>
                    <tr>
                      <th>{% trans 'Wallet Number' %}</th>
                      <th>{% trans 'Issuer Type' %}</th>
                      <th>{% trans 'Amount' %}</th>
                      <th>{% trans 'Fees' %}</th>
                      <th>{% trans 'Vat' %}</th>
                      <th>{% trans 'Status' %}</th>
                      <th>{% trans 'Updated At' %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for transaction in transactions_list %}
                      <tr data-href="#"
                          data-id="{{ transaction.uid }}"
                          data-anon_recipient="{{ transaction.anon_recipient }}"
                          data-amount="{{ transaction.amount }}"
                          data-recipient_name="{{ transaction.recipient_name }}"
                          data-issuer="{{ transaction.issuer_choice_verbose }}"
                          data-status="{{ transaction.status_choice_verbose }}"
                          data-status_code="{{ transaction.transaction_status_code }}"
                          data-transaction_status_description="{{ transaction.transaction_status_description }}"
                          data-created_at="{{ transaction.created_at }}"
                          data-updated_at="{{ transaction.updated_at }}"
                          data-aman_is_paid="{{ transaction.aman_transaction.is_paid }}"
                        class="row-hover">
                        <td>{{ transaction.anon_recipient }}</td>
                        <td>{{ transaction.issuer_choice_verbose }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.fees }}</td>
                        <td>{{ transaction.vat }}</td>
                        <td>{{ transaction.status_choice_verbose }}</td>
                        <td>{{ transaction.updated_at }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                {% else %}
                  <thead>
                    <tr>
                      <th>{% trans 'Account Number / IBAN' %}</th>
                      <th>{% trans 'Issuer Type' %}</th>
                      <th>{% trans 'Amount' %}</th>
                      <th>{% trans 'Fees' %}</th>
                      <th>{% trans 'Vat' %}</th>
                      <th>{% trans 'Status' %}</th>
                      <th>{% trans 'Updated At' %}</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for transaction in transactions_list %}
                      <tr data-href="#"
                          data-id="{{ transaction.parent_transaction.transaction_id }}"
                          data-creditor_account_number="{{ transaction.creditor_account_number }}"
                          data-creditor_name="{{ transaction.creditor_name }}"
                          data-creditor_bank="{{ transaction.creditor_bank }}"
                          data-bank_name="{{ transaction.creditor_bank|bank_name }}"
                          data-status_code="{{ transaction.transaction_status_code }}"
                          data-transaction_status_description="{{ transaction.transaction_status_description }}"
                          data-type="{{ transaction|transaction_type }}"
                          data-amount="{{ transaction.amount }}"
                          data-checker="{{ transaction.user_created }}"
                          data-status="{{ transaction.status_choice_verbose }}"
                          data-created_at="{{ transaction.parent_transaction.created_at }}"
                          data-updated_at="{{ transaction.created_at }}"
                          data-debtor_account="{{ transaction.debtor_account }}"
                          class="row-hover">
                        <td>{{ transaction.creditor_account_number }}</td>
                        <td>{{ 'Bank_Card' }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.fees }}</td>
                        <td>{{ transaction.vat }}</td>
                        <td>{{ transaction.status_choice_verbose }}</td>
                        <td>{{ transaction.updated_at }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                {% endif %}
              </table>

              <ul class="pagination">
                {% if transactions_list.has_previous %}
                  <li>
                    <a href="?{{query_string}}&page={{ transactions.previous_page_number }}">
                      <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </a>
                  </li>
                {% else %}
                  <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                {% endif %}

                {% if transactions_list.number|add:'-4' > 1 %}
                  <li><a href="?{{query_string}}&page={{ transactions.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}

                {% for i in transactions_list.paginator.page_range %}
                  {% if transactions_list.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% elif i > transactions_list.number|add:'-5' and i < transactions_list.number|add:'5' %}
                    <li><a href="?{{query_string}}&page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}

                {% if transactions_list.paginator.num_pages > transactions_list.number|add:'4' %}
                  <li><a href="?{{query_string}}&page={{ transactions_list.number|add:'5' }}">&hellip;</a></li>
                {% endif %}

                {% if transactions_list.has_next %}
                  <li><a href="?{{query_string}}&page={{ transactions_list.next_page_number }}">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                  </li>
                {% else %}
                  <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                {% endif %}
              </ul>

              {% include 'pagination.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# End of page content #}

  {# Add new single step transaction modal #}
  <div class="modal fade" id="transactionModel" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-plus"></span> {% trans 'Make New Transaction' %}</h4>
        </div>
        <div class="modal-body">
          <div class="waiting-form-respond">
          </div>
          <form action="{% url 'disbursement:single_step_list_create' %}?{% if wallets %}issuer=wallets{% else %}issuer=bank-card{% endif %}"
                method="post" id="addTransactionForm" class="autoValidateForm" role="form">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label>
                  <span class="glyphicon glyphicon-tag"></span> {% trans 'Amount' %} *
                </label>
                {{form.amount}}
                <span class="respond-span"></span>
                <div class="help-block">
                  {{form.amount.errors}}
                </div>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label>
                  <span class="glyphicon glyphicon-filter"></span> {% trans 'Issuer Type' %}
                </label>
                {{ form.issuer }}
                <span class="respond-span"></span>
                <div class="help-block">
                  {{ form.issuer.errors }}
                </div>
              </div>
            </div>
            <!-- bank card form -->
            <div id="bank_card_fields">
              <div class="row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <label>
                    <span class="glyphicon glyphicon-user"></span> {% trans 'Account Number' %} *
                  </label>
                  {{form.creditor_account_number}}
                  <span class="respond-span"></span>
                  <div class="help-block">
                    {{form.creditor_account_number.errors}}
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <label><span class="glyphicon glyphicon-briefcase"></span> {% trans 'Full Name' %} *</label>
                  {{ form.creditor_name }}
                  <span class="respond-span"></span>
                  <div class="help-block">
                    {{ form.creditor_name.errors }}
                  </div>
                </div>
              </div>
              <div class="row">
              <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label>
                    <span class="glyphicon glyphicon-sort"></span> {% trans 'Transaction Type' %}
                </label>
                {{ form.transaction_type }}
                <span class="respond-span"></span>
                <div class="help-block">
                  {{ form.transaction_type.errors }}
                </div>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label>
                    <span class="glyphicon glyphicon-briefcase"></span> {% trans 'Bank Name' %} *
                </label>
                {{form.creditor_bank}}
                <span class="respond-span"></span>
                <div class="help-block">
                  {{form.creditor_bank.errors}}
                </div>
              </div>
            </div>
            </div>
            <!-- vodafone/etisalat form -->
            <div id="vodafone_etisalat_fields">
              <div class="row">
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <label>
                    <span class="glyphicon glyphicon-user"></span> {% trans 'Msisdn' %} *
                  </label>
                  {{form.msisdn}}
                  <span class="respond-span"></span>
                  <div class="help-block">
                    {{form.msisdn.errors}}
                  </div>
                </div>
              </div>
            </div>
            <!-- orange/bank_wallet form -->
            <div id="orange_bank_wallet_fields">
              <div class="row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <label>
                    <span class="glyphicon glyphicon-user"></span> {% trans 'Msisdn' %} *
                  </label>
                  {{form.msisdn}}
                  <span class="respond-span"></span>
                  <div class="help-block">
                    {{form.msisdn.errors}}
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <label>
                    <span class="glyphicon glyphicon-user"></span> {% trans 'Full Name' %} *
                  </label>
                  {{form.full_name}}
                  <span class="respond-span"></span>
                  <div class="help-block">
                    {{form.full_name.errors}}
                  </div>
                </div>
              </div>
            </div>
            <!-- aman form-->
            <div id="aman_fields">
              <div class="row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <label>
                    <span class="glyphicon glyphicon-user"></span> {% trans 'Msisdn' %} *
                  </label>
                  {{form.msisdn}}
                  <span class="respond-span"></span>
                  <div class="help-block">
                    {{form.msisdn.errors}}
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <label>
                    <span class="glyphicon glyphicon-pencil"></span> {% trans 'First Name' %} *
                  </label>
                  {{form.first_name}}
                  <span class="respond-span"></span>
                  <div class="help-block">
                    {{form.first_name.errors}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <label>
                    <span class="glyphicon glyphicon-pencil"></span> {% trans 'Last Name' %} *
                  </label>
                  {{form.last_name}}
                  <span class="respond-span"></span>
                  <div class="help-block">
                    {{form.last_name.errors}}
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <label>
                    <span class="glyphicon glyphicon-envelope"></span> {% trans 'Email' %} *
                  </label>
                  {{form.email}}
                  <span class="respond-span"></span>
                  <div class="help-block">
                    {{form.email.errors}}
                  </div>
                </div>
              </div>
            </div>
            <!-- pin row -->
            <div class="row" id="pin_row">
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                {% if not request.user.from_accept  %}
                <label>
                    <span class="glyphicon glyphicon-pushpin"></span> {% trans 'Pin' %} *
                </label>
                {% elif request.user.from_accept and request.user.allowed_to_be_bulk %}
                <label>
                  <span class="glyphicon glyphicon-pushpin"></span> {% trans 'Pin' %} *
                </label>
                {% endif %}
                {{form.pin}}
                <span class="respond-span"></span>
                <div class="help-block">
                  {{form.pin.errors}}
                </div>
              </div>
            </div>

            <button id="submitModal" class="btn btn-primary pull-{{'right'|invert_dir:LANGUAGE_CODE}}" type="submit">{% trans 'Submit' %}</button>
            <button class="btn btn-default pull-{{'right'|invert_dir:LANGUAGE_CODE}}" data-dismiss="modal">{% trans 'Cancel' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {# End of add new single step bank transaction modal #}

  {# Add new transaction success modal #}
  <div class="modal fade" id="successModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{% trans 'Success' %}</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-success" role="alert" id="status_description_success">
            {{ status_description }}
          </div>
          <div style="text-align: center;">
            <img src="{% static 'img/success.png' %}" style='margin:auto;' width = '30%'/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>
  {# End of add new transaction success modal #}

  {# Add new transaction failed modal #}
  <div class="modal fade" id="failedModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{% trans 'Failed' %}</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" role="alert" id="status_description_failed">
            {{ status_description }}
          </div>
          <div style="text-align: center;">
            <img src="{% static 'img/failed.png' %}"  width='30%'/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>
  {# End of add new transaction failed modal #}

  {# Selected transaction details #}
  <div id="trxDetails" style="display: none;" class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2 class="font-13 m-b-30" style="font-weight: bolder;">{% trans 'Transaction Details' %}</h2>
          {% if not wallets %}
            <button id="generate-pdf" class="btn btn-default export-dropdown
                            pull-{{'right'|invert_dir:LANGUAGE_CODE}}">
              <i class="fa fa-file-pdf-o"></i> {% trans 'Export PDF Report' %}
            </button>
          {% endif %}
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <ul id="trxDetailsData">
              </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <ul id="trxDetailsDataRight">
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <ul id="trxDetailsDataLast">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# End of selected transaction details #}
{% endblock %}

{% block script %}
{# Datatables #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="{% static 'gentella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script src="{% static 'gentella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
<script>

  var table = $('#transaction-table').DataTable({
    "bLengthChange" : false,
    "bPaginate": false,
    "bInfo" : false,
    "ordering": false
  });

  var buttons = new $.fn.dataTable.Buttons( table, {
        buttons: [
          {
                extend: 'copy',
                text : "{% trans 'Copy' %}",
                exportOptions: {
                    charSet: "utf-8",
                }
            },
            {
                extend: 'print',
                text : "PDF",
            },
            {
                extend: 'excelHtml5',
                text : "{% trans 'Export' %}",

                customize: function( xlsx ) {

                  var sheet = xlsx.xl.worksheets['sheet1.xml'];
                  $('row c[r^="A"]', sheet).attr( 's', '0' );
				       }
            }
        ]
    });

  table.buttons( 0, null ).container().prependTo(
        table.table().container()
    );
  let empty_row = $('.dataTables_empty');
  if (empty_row) {
    empty_row.parent().attr('id', 'empty_row');
  }

</script>
<!--  generate pdf script-->
<script src="{% static 'js/html2pdf.bundle.min.js' %}"></script>
<script>
  {% if show_add_form == True %}
    $("#transactionModel").modal();
  {% endif %}

  $("#addSingleTransaction").click(function () {
      $("#transactionModel").modal();
  });

  {% if show_pop_up == True %}
    {% if status_code != "8000" and status_code != "200" %}
      $('#failedModal').modal({
        backdrop: 'static',
        keyboard: false
      });
    {% else %}
      $('#successModal').modal({
        backdrop: 'static',
        keyboard: false
      });
    {% endif %}
  {% endif %}
  {% if request.GET.status%}
    {% if request.GET.status == '8000' or request.GET.status == '200' %}
      $("#status_description_success").html('{{request.GET.message}}');
      $('#successModal').modal({
            backdrop: 'static',
            keyboard: false
          });
    {% else %}
      $("#status_description_failed").html('{{request.GET.message}}');
        $('#failedModal').modal({
              backdrop: 'static',
              keyboard: false
            });
    {% endif %}
  {% endif %}
</script>

<!-- transaction details script  -->
<script>
  let trx = {};
  $('#transaction-table tbody').on('click', 'tr:not(#empty_row)', function () {
    if ($(this).hasClass('selected')) {
      $(this).removeClass('selected');
      $("#trxDetails").slideUp().fadeOut();
    }
    else {
      $('tr.selected').removeClass('selected');
      $(this).addClass('selected');
      let ul = $('#trxDetailsData');
      let ulRight = $('#trxDetailsDataRight');
      let ulLast = $('#trxDetailsDataLast');
      let appendedTags = '';
      let appendedTagsRight = '';
      let appendedTagsBottom = '';

      {% if wallets %}
        trx.id = $(this).data('id')
        appendedTags += `<li><span>{% trans 'Transaction ID' %}</span><strong>: </strong>${trx.id}</li>`;
        trx.anon_recipient = $(this).data('anon_recipient');
        appendedTags += `<li><span>{% trans 'Wallet Number' %}</span><strong>: </strong>${trx.anon_recipient}</li>`;
        trx.amount = $(this).data('amount');
        appendedTags += `<li><span>{% trans 'Amount' %}</span><strong>: </strong>${trx.amount}</li>`;
        trx.recipient_name = $(this).data('recipient_name');
        appendedTags += `<li><span>{% trans 'Full Name' %}</span><strong>: </strong>${trx.recipient_name}</li>`;
        trx.status = $(this).data('status');
        appendedTags += `<li><span>{% trans 'Status' %}</span><strong>: </strong>${trx.status}</li>`;

        trx.issuer = $(this).data('issuer');
        appendedTagsRight += `<li><span>{% trans 'Issuer' %}</span><strong>: </strong>${trx.issuer}</li>`;
        {# Determine is_paid? status for aman transactions #}
          if (trx.issuer === 'Aman') {
            let aman_is_paid = $(this).data('aman_is_paid');
            if (aman_is_paid === 'True') {
              appendedTagsRight += `<li><span>{% trans 'Cashed Out?' %}</span><strong>: </strong><span style="color: darkgreen">&#10004;</span></li>`;
            } else {
              appendedTagsRight += `<li><span>{% trans 'Cashed Out?' %}</span><strong>: </strong><span style="color: darkred">&#10006;</span></li>`;
            }
          }

        trx.created_at = $(this).data('created_at');
        appendedTagsRight += `<li><span>{% trans 'Created At' %}</span><strong>: </strong>${trx.created_at}</li>`;
        trx.updated_at = $(this).data('updated_at');
        appendedTagsRight += `<li><span>{% trans 'Updated At' %}</span><strong>: </strong>${trx.updated_at}</li>`;

      {% else %}
        trx.debtor_account = $(this).data('debtor_account');

        trx.id = $(this).data('id')
        appendedTags += `<li><span>{% trans 'Transaction ID' %}</span><strong>: </strong>${trx.id}</li>`;
        trx.creditor_account_number = $(this).data('creditor_account_number');
        appendedTags += `<li><span>{% trans 'Account Number / IBAN' %}</span><strong>: </strong>${trx.creditor_account_number}</li>`;
        trx.creditor_name = $(this).data('creditor_name');
        appendedTags += `<li><span>{% trans 'Full Name' %}</span><strong>: </strong>${trx.creditor_name}</li>`;
        trx.amount = $(this).data('amount');
        appendedTags += `<li><span>{% trans 'Amount' %}</span><strong>: </strong>${trx.amount}</li>`;
        trx.status = $(this).data('status');
        appendedTags += `<li><span>{% trans 'Status' %}</span><strong>: </strong>${trx.status}</li>`;

        trx.creditor_bank = $(this).data('creditor_bank');
        appendedTagsRight += `<li><span>{% trans 'Bank Swift Code' %}</span><strong>: </strong>${trx.creditor_bank}</li>`;
        trx.bank_name = $(this).data('bank_name');
        appendedTagsRight += `<li><span>{% trans 'Bank Name' %}</span><strong>: </strong>${trx.bank_name}</li>`;
        trx.type = $(this).data('type');
        appendedTagsRight += `<li><span>{% trans 'Transaction Type' %}</span><strong>: </strong>${trx.type}</li>`;
        trx.checker = $(this).data('checker');
        appendedTagsRight += `<li><span>{% trans 'Checker' %}</span><strong>: </strong>${trx.checker}</li>`;
        trx.created_at = $(this).data('created_at');
        appendedTagsRight += `<li><span>{% trans 'Created At' %}</span><strong>: </strong>${trx.created_at}</li>`;
        trx.updated_at = $(this).data('updated_at');
        appendedTagsRight += `<li><span>{% trans 'Updated At' %}</span><strong>: </strong>${trx.updated_at}</li>`;
      {% endif %}
      trx.status_code = $(this).data('status_code');
      appendedTagsBottom += `<li><span>{% trans 'Status Code' %}</span><strong>: </strong>${trx.status_code}</li>`;
      trx.transaction_status_description = $(this).data('transaction_status_description');
      appendedTagsBottom += `<li><span>{% trans 'Status Description' %}</span><strong>: </strong>${trx.transaction_status_description}</li>`;

      ul.empty();
      ul.append(appendedTags);
      ulRight.empty();
      ulRight.append(appendedTagsRight);
      ulLast.empty();
      ulLast.append(appendedTagsBottom);

      $("#trxDetails").slideDown();
      $('html,body').animate({
          scrollTop: $("#trxDetails").offset().top
      }, 'slow');
   }
  });
</script>

<!-- generate pdf script-->
<!-- Important Not this script should be after transaction details script because   -->
<!-- because it use trx object that exist in  transaction details script above -->
{% include 'disbursement/transaction_details_pdf_js.html' %}

<script>
let bankCardForm = `<div id="bank_card_fields">
  <div class="row">
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
      <label>
        <span class="glyphicon glyphicon-user"></span> {% trans 'Account Number' %} *
      </label>
      {{ form.creditor_account_number }}
      <span class="respond-span"></span>
      <div class="help-block">
        {{ form.creditor_account_number.errors }}
      </div>
    </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
      <label><span class="glyphicon glyphicon-briefcase"></span> {% trans 'Full Name' %} *</label>
      {{ form.creditor_name }}
      <span class="respond-span"></span>
      <div class="help-block">
        {{ form.creditor_name.errors }}
      </div>
    </div>
  </div>
  <div class="row">
  <div class="form-group col-md-6 col-sm-6 col-xs-12">
    <label>
        <span class="glyphicon glyphicon-sort"></span> {% trans 'Transaction Type' %}
    </label>
    {{ form.transaction_type }}
    <span class="respond-span"></span>
    <div class="help-block">
      {{ form.transaction_type.errors }}
    </div>
  </div>
  <div class="form-group col-md-6 col-sm-6 col-xs-12">
    <label>
        <span class="glyphicon glyphicon-briefcase"></span> {% trans 'Bank Name' %} *
    </label>
    {{form.creditor_bank}}
    <span class="respond-span"></span>
    <div class="help-block">
      {{form.creditor_bank.errors}}
    </div>
  </div>
</div>
</div>`;

let vodafoneEtisalatForm = `<div id="vodafone_etisalat_fields">
<div class="row">
  <div class="form-group col-md-12 col-sm-12 col-xs-12">
    <label>
      <span class="glyphicon glyphicon-user"></span> {% trans 'Msisdn' %} *
    </label>
    {{form.msisdn}}
    <span class="respond-span"></span>
    <div class="help-block">
      {{form.msisdn.errors}}
    </div>
  </div>
</div>
</div>`;

let orangeBankWalletForm = `<div id="orange_bank_wallet_fields">
<div class="row">
  <div class="form-group col-md-6 col-sm-6 col-xs-12">
    <label>
      <span class="glyphicon glyphicon-user"></span> {% trans 'Msisdn' %} *
    </label>
    {{form.msisdn}}
    <span class="respond-span"></span>
    <div class="help-block">
      {{form.msisdn.errors}}
    </div>
  </div>
  <div class="form-group col-md-6 col-sm-6 col-xs-12">
    <label>
      <span class="glyphicon glyphicon-user"></span> {% trans 'Full Name' %} *
    </label>
    {{form.full_name}}
    <span class="respond-span"></span>
    <div class="help-block">
      {{form.full_name.errors}}
    </div>
  </div>
</div>
</div>`;

let amanForm = `<div id="aman_fields">
<div class="row">
  <div class="form-group col-md-6 col-sm-6 col-xs-12">
    <label>
      <span class="glyphicon glyphicon-user"></span> {% trans 'Msisdn' %} *
    </label>
    {{form.msisdn}}
    <span class="respond-span"></span>
    <div class="help-block">
      {{form.msisdn.errors}}
    </div>
  </div>
  <div class="form-group col-md-6 col-sm-6 col-xs-12">
    <label>
      <span class="glyphicon glyphicon-pencil"></span> {% trans 'First Name' %} *
    </label>
    {{form.first_name}}
    <span class="respond-span"></span>
    <div class="help-block">
      {{form.first_name.errors}}
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-6 col-sm-6 col-xs-12">
    <label>
      <span class="glyphicon glyphicon-pencil"></span> {% trans 'Last Name' %} *
    </label>
    {{form.last_name}}
    <span class="respond-span"></span>
    <div class="help-block">
      {{form.last_name.errors}}
    </div>
  </div>
  <div class="form-group col-md-6 col-sm-6 col-xs-12">
    <label>
      <span class="glyphicon glyphicon-envelope"></span> {% trans 'Email' %} *
    </label>
    {{form.email}}
    <span class="respond-span"></span>
    <div class="help-block">
      {{form.email.errors}}
    </div>
  </div>
</div>
</div>`;

let pinRow = $('#pin_row');
let issuerType = document.getElementById('id_issuer');

$('#bank_card_fields').remove();
$('#vodafone_etisalat_fields').remove();
$('#orange_bank_wallet_fields').remove();
$('#aman_fields').remove();

if (issuerType.value == 'bank_card') {
  $(bankCardForm).insertBefore(pinRow);
} else if (issuerType.value == 'vodafone' || issuerType.value == 'etisalat')  {
  $(vodafoneEtisalatForm).insertBefore(pinRow);
} else if (issuerType.value == 'orange' || issuerType.value == 'bank_wallet') {
  $(orangeBankWalletForm).insertBefore(pinRow);
} else {
  $(amanForm).insertBefore(pinRow);
}

function toggleForm() {
  $('#bank_card_fields').remove();
  $('#vodafone_etisalat_fields').remove();
  $('#orange_bank_wallet_fields').remove();
  $('#aman_fields').remove();

  if (issuerType.value == 'bank_card') {
    $(bankCardForm).insertBefore(pinRow);
  } else if (issuerType.value == 'vodafone' || issuerType.value == 'etisalat')  {
    $(vodafoneEtisalatForm).insertBefore(pinRow);
  } else if (issuerType.value == 'orange' || issuerType.value == 'bank_wallet') {
    $(orangeBankWalletForm).insertBefore(pinRow);
  } else {
    $(amanForm).insertBefore(pinRow);
  }
}

issuerType.addEventListener('change', toggleForm);
</script>

<!-- filtration script -->
<script>
  let parent_dev = $(".dt-buttons.btn-group");
  parent_dev.css('width', '100%');

  let BankCardFilter = `<a class="btn btn-default buttons-copy buttons-html5"
    tabindex="0" aria-controls="transaction-table"`;
  let WalletsFilter = `<a class="btn btn-default buttons-copy buttons-html5"
    tabindex="0" aria-controls="transaction-table"`;

  {% if admin_hierarchy %}
    BankCardFilter += ` href="/disburse/single-step/?admin_hierarchy={{admin_hierarchy}}&issuer=bank-card&page=1"`;
    WalletsFilter += ` href="/disburse/single-step/?admin_hierarchy={{admin_hierarchy}}&issuer=wallets&page=1"`;
  {% else %}
    BankCardFilter += ` href="/disburse/single-step/?issuer=bank-card&page=1"`;
    WalletsFilter += ` href="/disburse/single-step/?issuer=wallets&page=1"`;
  {% endif %}
  {% if wallets %}
    BankCardFilter += ` style="float:{{'right'|invert_dir:LANGUAGE_CODE}};margin-bottom:10px;"><span>{% trans 'Bank Card' %}</span></a>`;
    WalletsFilter +=` style="float:{{'right'|invert_dir:LANGUAGE_CODE}};margin-bottom:10px;color:#333;
      background-color:#d4d4d4;border-color:#8c8c8c;"><span>{% trans 'Wallets' %}</span></a>`;
  {% else %}
    WalletsFilter +=` style="float:{{'right'|invert_dir:LANGUAGE_CODE}};margin-bottom:10px;"><span>{% trans 'Wallets' %}</span></a>`;
    BankCardFilter += ` style="float:{{'right'|invert_dir:LANGUAGE_CODE}};margin-bottom:10px;color:#333;
      background-color:#d4d4d4;border-color:#8c8c8c;"><span>{% trans 'Bank Card' %}</span></a>`;
  {% endif %}
  parent_dev.append(WalletsFilter);
  parent_dev.append(BankCardFilter);
</script>
{% endblock %}
