{% extends "error-pages/base.html" %}
{% load i18n %}

{% block title %} {% trans 'Page' %} 500 {% endblock title %}


{% block body %}
<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center text-center">
            <h1 class="error-number">500</h1>
            <h2>{% trans 'Internal Server Error' %}</h2>
            <p>{% trans 'We track these errors automatically, but if the problem persists feel free to contact us. In the
                meantime, try refreshing.' %}
            </p>
            <a href="{% url 'data:main_view' %}">{% trans 'Back to home' %}</a>
          
        </div>
    </div>
</div>
{% endblock %}


