{% extends "error-pages/base.html" %}
{% load i18n %}

{% block title %} {% trans 'Page' %} No agent {% endblock title %}


{% block body %}
<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center text-center">
            <h2>{% trans "No connected agents for this user!" %}</h2>
            <p>{% trans "Please contact support team" %}
            </p>
            <a href="{% url 'users:logout' %}">{% trans 'Log out' %}</a>
        </div>
    </div>
</div>
{% endblock %}


