{% extends 'base_form_singlepage.html' %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block customcss %}
<style>
.errorlist{
    color:red;
}

</style>

{% endblock %}
{% block title %} {% trans 'Agents' %} {% endblock %}
{% block form %}
    <form action="." method="post" id="step_1_form" >
      <h1>{% trans 'Add Agents' %}</h1>

          {% csrf_token %}

        <!-- super agent form -->
        <h4>Super agent</h4>
        {% for field in super_agent_form.visible_fields %}
        
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-12">{{ field.label|capfirst }}</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    {{ field | add_class:'form-control'}}
                    {{ field.errors.as_ul }}
                </div>
            </div>
                
        {%endfor%}
        <!--  -->

        <h4>Agents</h4>
        {% if agentform.non_form_errors%}
         {{ agentform.non_form_errors }}
        {%endif%}
        <table class="table" id="agentform">
            {{ agentform.management_form }}
            {% for form in agentform.forms %}
                {% if forloop.first %}
                <thead>
                    <tr>
                        <!-- <th>Super agent</th> -->
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                {% endif %}
            {% endfor %}
            <tbody>

            {% for form in agentform.forms %}

                <tr class="agent_form">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field | add_class:'form-control' }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>

        </table>
       
      <div>
        <input class="btn btn-default submit" type="submit" value="{% trans 'Create' %}">
      </div>

      <div class="clearfix"></div>

      <div class="separator">

        <div class="clearfix"></div>
        <br />

      </div>
    </form>

{% endblock %}
{% block script %}
<script src="{% static 'gentella/jquery.min.js' %}"></script>

    <script src="{% static 'js/jquery.formset.min.js' %}"></script>
    <script type="text/javascript">
        var levelform = $('.agent_form');
        levelform.formset({
            addText: 'add another agent',
            deleteText: '&nbsp; <i class="fa fa-times-circle-o" aria-hidden="true"></i>',
            prefix: '{{ agentform.prefix }}',
            formCssClass: 'level'
        });
    </script>
{% endblock %}
