{% extends 'base_form_singlepage.html' %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block title %} {% trans 'Root' %} {% endblock %}
{% block gentellacss %}
    <link href="{% static 'gentella/iCheck/skins/flat/green.css' %}" rel="stylesheet">
{% endblock %}
{% block form %}
    <form action="." method="post">
      <h1>{% trans 'Add Entity User' %}</h1>

        {% csrf_token %}
            <div>
                {% for field in form.visible_fields %}
                        {% ifequal field.name "business_setups"  %}
                            <div class="checkbox" style="position: relative;">
                                <div class="col-xs-12" style="text-align: left;">
                                    {{ field }}
                                    {{ field.errors.as_ul }}
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group">
                            <div class="col-xs-12">

                                    <div class="">
                                        {{ field | add_class:'form-control'}}
                                        {{ field.errors.as_ul }}

                                    </div>

                            </div>
                        </div>
                        {% endifequal %}
                {% endfor %}

            </div>

      <div>
          <a class="reset_pass" href="{% url 'users:clients' %}">{% trans 'Back' %}</a>
          <input class="btn btn-default submit" type="submit" value="{% trans 'Create' %}">

      </div>

      <div class="clearfix"></div>

      <div class="separator">

        <div class="clearfix"></div>
        <br />

      </div>
    </form>

{% endblock %}
{% block script %}
        <script src="{% static 'gentella/bootstrap.min.js' %}"></script>
        <script src="{% static 'gentella/icheck.min.js' %}"></script>
{% endblock %}