{% load static %}

<!-- jQuery -->
<script src="{% static 'gentella/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'gentella/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'gentella/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'gentella/nprogress.js' %}"></script>
<!-- Chart.js -->
<script src="{% static 'gentella/Chart.min.js' %}"></script>
<!-- gauge.js -->
<script src="{% static 'gentella/gauge.min.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static 'gentella/bootstrap-progressbar.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'gentella/icheck.min.js' %}"></script>
<!-- Skycons -->
<script src="{% static 'gentella/skycons.js' %}"></script>
<!-- Flot -->
<script src="{% static 'gentella/jquery.flot.js' %}"></script>
<script src="{% static 'gentella/jquery.flot.pie.js' %}"></script>
<script src="{% static 'gentella/jquery.flot.time.js' %}"></script>
<script src="{% static 'gentella/jquery.flot.stack.js' %}"></script>
<script src="{% static 'gentella/jquery.flot.resize.js' %}"></script>
<!-- Flot plugins -->
<script src="{% static 'gentella/jquery.flot.orderBars.js' %}"></script>
<script src="{% static 'gentella/jquery.flot.spline.min.js' %}"></script>
<script src="{% static 'gentella/curvedLines.js' %}"></script>
<!-- DateJS -->
<script src="{% static 'gentella/date.js' %}"></script>
<!-- JQVMap -->
<script src="{% static 'gentella/jquery.vmap.js' %}"></script>
<script src="{% static 'gentella/jquery.vmap.world.js' %}"></script>
<script src="{% static 'gentella/jquery.vmap.sampledata.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'gentella/moment.min.js' %}"></script>
<script src="{% static 'gentella/daterangepicker.js' %}"></script>

{% if LANGUAGE_CODE == 'en' %}
<!-- Custom Theme Scripts -->
<script src="{% static 'gentella/js/index/custom.min.js' %}"></script>
{%else%}
<script src="{% static 'gentella/rtl/build/js/custom.min.js' %}"></script>
{%endif%}

<!-- csrf token -->
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    var csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function ColorLuminance(hex, lum) {

            // validate hex string
            hex = String(hex).replace(/[^0-9a-f]/gi, '');
            if (hex.length < 6) {
                hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
            }
            lum = lum || 0;

            // convert to decimal and change luminosity
            var rgb = "#", c, i;
            for (i = 0; i < 3; i++) {
                c = parseInt(hex.substr(i * 2, 2), 16);
                c = Math.round(Math.min(Math.max(0, c + (c * lum)), 255)).toString(16);
                rgb += ("00" + c).substr(c.length);
            }

            return rgb;
        }
    
    let color = '{{brand_color}}';
    $('.left_col .scroll-view').css('background-color', color);
    $('html').css('background-color', color);
    $('.site_title').css('background-color', color);
    $('.nav_title').css('background', color);
    $('.container').css('background', color);    
    $('.main_container').css('background', color);
    
    $(document).ready(function () {
        if (color == 'None' || color == '')
            return;
        
        let frm = ColorLuminance(color, -0.1);
        let to = ColorLuminance(frm, -0.1);
        let color_gradient = '-webkit-gradient(linear, left top, left bottom, from(' + to + '), to(' + frm + '))'
        let $SIDEBAR_MENU = $('#sidebar-menu');
        let atag = $SIDEBAR_MENU.find('a');
        if ($(atag).parent().is('.active')) {
            $(atag).css('background', color);
        }
        $SIDEBAR_MENU.find('.current-page').find('a').removeAttr('style');
        $SIDEBAR_MENU.find('a').on('click', function (ev) {
            
            let $li = $(this).parent();
            if ($li.is('.active')) {
                
                $(this).css('background', color);
            }
        });
        
        $('body').css('color', ColorLuminance(color, -0.5));
        $(".nav.child_menu li a").on('mouseover', function (ev) {
            $(this).removeAttr('style');
        });
        $('.fa-bars').css('color', color);
        $('#sidebar-div').css('background',color);
        $('head').append('<style>.nav-md ul.nav.child_menu li:before{background:' + to + ' !important;}</style>');
    });
</script>

<!-- for top_navigation.html -->
<script>
    $(document).ready(function () {
        $('a#lang').on('click', function () {            
            let data = {
                'language': $(this).attr('data'),
            }
            $.ajax({
                type: 'post',
                url: "{% url 'set_language' %}",
                'data': data,
                success: function (data, text, xhr) {
                    location.reload()       
                },
                
            });

        });

    });
</script>