{% extends 'head_base.html' %}
{% load static %}

{%block body_content%}

  <body class="login">
  {% block back %}
  {% endblock %}
    <div>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="form login_form">
          <section class="login_content">
            <div class="loading" hidden>
              <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            {% block form %}
            {% endblock %}
          </section>
        </div>
      </div>
    </div>

    <script src="{% static 'gentella/jquery.min.js' %}"></script>
    <!-- handle loading stuff -->
    <script>
      console.log('loading shown')
      $('.loading').show();
      $(window).load(function () {
        // PAGE IS FULLY LOADED  
        $(".loading").hide();
        console.log('loading hidden')
      });

      $(document).ajaxStart(function () {
        console.log('start ajax loading')
        $('.loading').show();
      });
      $(document).ajaxStop(function () {
         console.log('end ajax loading')

        $(".loading").hide();
      });


    </script>
    {%block script%}
    {%endblock%}
  </body>
  
{%endblock%}
