{% load static %}
{% load i18n %}
{% load custom_tags %}

<div class="left_col scroll-view">

  {% include "sidebar_logo.html" %}

  {# sidebar menu #}
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">

        {% if request.user.is_vodafone_default_onboarding or request.user.is_vodafone_facilitator_onboarding or request.user.is_banks_standard_model_onboaring %}
          <li><a href="{% url 'data:e_wallets_home' %}"><i class="fa fa-files-o"></i>{% trans 'Disbursement Files' %}</a></li>
        {% elif request.user.is_accept_vodafone_onboarding %}
          {% if request.user.is_root %}
            <li><a><i class="fa fa-home"></i>{% trans 'Home' %}<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="{% url 'disbursement:home_root' %}">{% trans 'Dashboard' %}</a></li>
                <li><a href="{% url 'disbursement:vf_et_aman_list' %}">{% trans 'Vodafone/Etisalat/Aman' %}</a></li>
                <li><a href="{% url 'disbursement:orange_bank_wallet_list' %}">{% trans 'Bank Wallets/Orange Cash' %}</a></li>
              </ul>
            </li>
          {% endif %}
          <li><a href="{% url 'data:e_wallets_home' %}"><i class="fa fa-money"></i>{% trans 'Vodafone/Etisalat/Aman' %}</a></li>
          <li><a href="{% url 'data:bank_wallets_home' %}">
            <img style="width: 20px;margin-{{'right'|invert_dir:LANGUAGE_CODE}}: 6px;margin-bottom: 9px;" src="{% static 'img/wallet_money.png' %}">{% trans 'Bank Wallets/Orange Cash' %}</a></li>
          <li><a href="{% url 'data:bank_cards_home' %}"><i class="fa fa-credit-card"></i>{% trans 'Bank Accounts/Cards' %}</a></li>

          {% if request.user.is_root or request.user.is_checker %}
            <li>
              <a href="{% url 'disbursement:single_step_list_create' %}?issuer=wallets&page=1">
                <i class="fa fa-flash"></i>{% trans 'Single Step Transactions' %}
              </a>
            </li>
          {% endif %}
        {% endif %}

        {% if request.user.is_root %}
          <li><a><i class="fa fa-users"></i>{% trans 'Members' %} <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a>{% trans 'Add member' %}<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="{% url 'users:add_maker' %}">{% trans 'Maker' %}</a></li>
                  <li><a href="{% url 'users:add_checker' %}">{% trans 'Checker' %}</a></li>
                </ul>
              </li>
              <li><a href="{% url 'users:members' %}">{% trans 'All members' %}</a></li>
            </ul>
          </li>
          <li><a href="{% url 'disbursement:balance_inquiry' username=request.user.username %}">
            <i class="fa fa-suitcase"></i>{% trans 'Balance Inquiry' %}
          </a>
          </li>
          {% if not request.user.is_vodafone_default_onboarding and not request.user.is_banks_standard_model_onboaring%}
            <li><a href="{% url 'utilities:transfer_request' %}">
              <img style="width: 19px;margin-{{'right'|invert_dir:LANGUAGE_CODE}}: 6px;" src="{% static 'img/money_plus.png' %}">{% trans 'Top Up Balance' %}</a>
            </li>
          {% endif %}
        {% endif %}

        <li>
          <a href="{% url 'users:profile' request.user.username %}">
            <i class="fa fa-user"></i>{% trans 'Profile' %}
          </a>
        </li>
        <li>
          <a href="{% url 'users:session_list' %}">
            <i class="fa fa-clock-o"></i>{% trans 'Active Sessions' %}
          </a>
        </li>

        {% if request.user.is_root or request.user.is_maker %}
          <li><a><i class="fa fa-cog"></i>{% trans 'Settings' %}<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              {% if request.user.is_root %}
                <li><a href="{% url 'users:levels' %}">{% trans 'levels' %}</a></li>
                <li><a href="{% url 'data:list_format' %}">{% trans 'Formats' %}</a></li>
                {% if request.user.is_accept_vodafone_onboarding %}
                <li><a href="{% url 'users:change_pin' %}">{% trans 'Change Pin' %}</a></li>
                {% endif %}
              {% elif request.user.is_maker  %}
                <li><a href="{% url 'data:list_format' %}">{% trans 'Formats' %}</a></li>
              {% endif %}
            </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
  {# End of Sidebar menu #}

</div>