{% load static %}
{% load i18n %}

<div class="left_col scroll-view">
  {# Sidebar Logo #}
  <div class="navbar nav_title" style="text-align:center; padding-top: 12px;">
    {% if brand_logo %}
      <a href="{% url 'data:main_view' %}" class="site_title">
        <span><img class="center" src="{{ brand_logo }}" height="38px" id="paymob_logo"></span>
      </a>
    {% else %}
      <a href="{% url 'data:main_view' %}" class="site_title">
        <span><img class="center" src="{% static 'img/pm_name.png' %}" height="38px" id="paymob_logo"></span>
      </a>
    {% endif %}
  </div>
  {# End of Sidebar Logo #}

  <div class="clearfix"></div>

  {# Menu profile quick info #}
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="{{ request.user.avatar_thumbnail.url }}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>{% trans 'Welcome,' %}</span>
      <h2>{{ request.user.get_full_name|capfirst|truncatechars:16 }}</h2>
    </div>
  </div>
  {# End of Menu profile quick info #}

  <br/>

  {# sidebar menu #}
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">

        {% if request.user.is_vodafone_default_onboarding %}
          <li><a href="{% url 'data:e_wallets_home' %}"><i class="fa fa-files-o"></i>{% trans 'Disbursement Files' %}</a></li>
        {% elif request.user.is_accept_vodafone_onboarding %}
          <li><a href="{% url 'data:e_wallets_home' %}"><i class="fa fa-money"></i>{% trans 'Vodafone/Etisalat/Aman' %}</a></li>
          <li><a href="{% url 'data:bank_wallets_home' %}">
            <img style="width: 20px;margin-right: 6px;margin-bottom: 9px;" src="{% static 'img/wallet_money.png' %}">{% trans 'Bank Wallets/Orange Cash' %}</a></li>
          <li><a href="{% url 'data:bank_cards_home' %}"><i class="fa fa-credit-card"></i>{% trans 'Bank Accounts/Cards' %}</a></li>

          {% if request.user.is_root or request.user.is_checker %}
            <li><a href="{% url 'disbursement:single_step_list_create' %}"><i class="fa fa-flash"></i>{% trans 'Single Step Transactions' %}</a></li>
          {% endif %}
        {% endif %}

        {% if request.user.is_root %}
          <li><a><i class="fa fa-users"></i>{% trans 'Members' %} <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a>{% trans 'Add member' %}<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="{% url 'users:add_maker' %}">{% trans 'Maker' %}</a></li>
                  <li><a href="{% url 'users:add_checker' %}">{% trans 'Checker' %}</a></li>
                </ul>
              </li>
              <li><a href="{% url 'users:members' %}">{% trans 'All members' %}</a></li>
            </ul>
          </li>
          <li><a href="{% url 'disbursement:balance_inquiry' username=request.user.username %}"><i class="fa fa-suitcase"></i>{% trans 'Balance Inquiry' %}</a></li>
        {% endif %}

        <li><a href="{% url 'users:profile' request.user.username %}"><i class="fa fa-user"></i>{% trans 'Profile' %}</a></li>
        <li><a href="{% url 'users:session_list' %}"><i class="fa fa-clock-o"></i>{% trans 'Active Sessions' %}</a></li>

        {% if request.user.is_root or request.user.is_maker %}
          <li><a><i class="fa fa-cog"></i>{% trans 'Settings' %}<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              {% if request.user.is_root %}
                <li><a href="{% url 'users:setting-disbursement-pin' %}">{% trans 'Setups' %}</a></li>
                <li><a href="{% url 'users:levels' %}">{% trans 'levels' %}</a></li>
                <li><a href="{% url 'data:list_format' %}">{% trans 'Formats' %}</a></li>
              {% elif request.user.is_maker  %}
                <li><a href="{% url 'data:list_format' %}">{% trans 'Formats' %}</a></li>
              {% endif %}
            </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
  {# End of Sidebar menu #}

</div>