{% extends 'head_base.html' %}

{%block body_content%}
  <body class="nav-md">
    
    <div class="container body">
      <div class="main_container">
  
        <div id="sidebar-div" class="col-md-3 left_col">
            {% if request.user.is_superadmin %}
                {% include "superadmin_sidebar.html" %}
            {% elif request.user.is_support %}
                {% include 'support/sidebar.html' %}
            {% else %}
                {% if current_status == 'disbursement' and not request.user.is_instant_member %}
                  {% include "disbursement_sidebar.html" %}
                {% else %}
                  {% include "instant_cashin/sidebar.html" %}
                {%endif%}  
            {% endif %}
        </div>
  
        <div class="top_nav">
          {% include "top_navigation.html" %}
        </div>

        <div class="right_col" role="main">
          <div class="loading" hidden>
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          {% block body %}
          <!-- {{ content }} -->
          {% endblock body %}
          </div>
        <footer style="padding-top: 3px;">
          {% include "footer.html" %}
        </footer>

      </div>
    </div>
    
    {% include 'base_js.html' %}
    {% block script %} {% endblock %}
  </body>
  
{%endblock%}