{% load static %}
{% load i18n %}

{# Sidebar Logo #}
<div class="navbar nav_title" style="text-align:center; margin-top: 10px;">
  {% if request.user.is_vodafone_facilitator_onboarding or request.user.is_vodafone_default_onboarding %}
    {% if brand_logo %}
      <a href="{% url 'data:main_view' %}" class="site_title">
        <span><img style="max-width: 100%;" class="center" src="{{ brand_logo }}" height="65px" id="paymob_logo"></span>
      </a>
    {% else %}
      <a href="{% url 'data:main_view' %}" class="site_title">
        <span><img style="max-width: 100%;" class="center" src="{% static 'img/vodafone_logo.png' %}" height="85px" id="paymob_logo"></span>
      </a>
    {% endif %}

  {% else %}

      {% if brand_logo %}
        <a href="{% url 'data:main_view' %}" class="site_title">
          <span><img style="max-width: 100%;" class="center" src="{{ brand_logo }}" height="65px" id="paymob_logo"></span>
        </a>
      {% else %}
        <a href="{% url 'data:main_view' %}" class="site_title">
          <span><img style="max-width: 100%;" class="center" src="{% static 'img/send_new_logo.png' %}" height="65px" id="paymob_logo"></span>
        </a>
      {% endif %}
  {% endif %}
</div>
{# End of Sidebar Logo #}

<div class="clearfix"></div>

{# Menu profile quick info #}
{% if request.user.is_vodafone_facilitator_onboarding or request.user.is_vodafone_default_onboarding %}
  <div class="profile clearfix" style="margin-top: 5px;">
{% else %}
  <div class="profile clearfix">
{% endif %}
  <div class="profile_pic">
    <img style="max-width: 100%;" src="{{ request.user.avatar_thumbnail.url }}" alt="..." class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <span><strong>{% trans 'Welcome,' %}</strong></span>
    <h2>{{ request.user.get_full_name|capfirst|truncatechars:16 }}</h2>
  </div>
</div>
{# End of Menu profile quick info #}

<br/>