{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
{% load custom_tags %}

<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <img src="{{ request.user.avatar_thumbnail.url }}" alt="">
          {% if request.user.first_name %}
            {{ request.user.first_name | capfirst }}
          {%else%}
            {{ request.user.username }}
          {%endif%}  
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-{{'right'|invert_dir:LANGUAGE_CODE}}">
            {% if request.user.is_root %}
            <li>
              <a href="javascript:;">
                <span class="badge bg-red pull-{{'right'|invert_dir:LANGUAGE_CODE}}">{{ request.user.setup.percentage }}%</span>
                <span>{% trans 'Settings'%}</span>
              </a>
            </li>
          {%endif%}  
          <li><a style="pointer-events: none;cursor: default;">Language:</a>
          </li>
          {% for code,lang in LANGUAGES %}
            <li>
              {% if code == LANGUAGE_CODE %}
                <a style="pointer-events: none;cursor: default;color:black;">&emsp;{{lang}}</a>
              {%else%}  
                <a id="lang" data="{{code}}" >&emsp;{{lang}}</a>
              {%endif%}   
            </li>
          {%endfor%}
                  
         
          <li><a href="{% url 'users:logout' %}"><i class="fa fa-sign-out pull-{{'right'|invert_dir:LANGUAGE_CODE}}"></i> {% trans 'Log Out' %}</a></li>
        </ul>
      </li>

    </ul>
  </nav>
</div>