{% extends 'new_base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% block title %} Levels {% endblock %}
{% block extra_head %}
<link href="{% static 'css/file_share.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

{% endblock %}
{% block script %}
    {% bootstrap_javascript jquery='full' %}

<script src="{% static 'js/fileshareDatatable.js' %}"></script>

{% endblock %}

{% block body %}

        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% bootstrap_formset levelformset layout='horizontal' %}


                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
{% endblock %}
