{% extends 'base_form_singlepage.html' %}
{% load i18n %}
{% block title %} {% trans 'Forgot Password' %} {% endblock %}
{% block form %}
    <form action="." method="post">
        {% csrf_token %}
      <h1>{% trans 'Forgot Password' %}</h1>
      {% if success %}
        <div>            
            <span style="color:green">{% trans 'Email has been sent to reset password.' %}</span>
        </div>
        <br>
        <div class="clearfix"></div>
      {% endif %}
      {{form.as_p}}
      <div>
        <input class="btn btn-default submit pull-right" type="submit" value="{% trans 'Submit' %}">
      </div>

   
        <div class="clearfix"></div>



      <div class="separator">

        <div class="clearfix"></div>
        <br />

        <div>
          <h1>{% trans 'Payouts Dashboard' %}</h1>
          <p>©{% now "Y" %}{% trans ' All Rights Reserved. Payouts Dashoard! is a Paymob solution. Privacy and Terms' %}</p>
        </div>
      </div>
    </form>
{% endblock %}