{% extends 'base_form_singlepage.html' %}
{% block title %} Create Password {% endblock %}

{% block form %}
{% if validlink %}
<form method="POST" action=".">
    {% csrf_token %}
    <h1>Create Password</h1>
    
    {{ form.non_field_errors }}

    <div>
        <input type="password" class="form-control" name="new_password1" placeholder='New Passowrd' required>
        {{ form.new_password1.errors }}
    </div>
    <div>
        <input type="password" class="form-control" name="new_password2" placeholder='New Passowrd Confirmation' required>
        {{ form.new_password2.errors }}
    </div>

    <div><button class="submit btn btn-lg btn-default btn-block" type="submit">
            Submit</button></div>
    <div class="clearfix"></div>

    <div class="separator">

        <div class="clearfix"></div>
        <br />

        <div>
            <h1>Payroll Dashboard</h1>
            <p>©2019 All Rights Reserved. Payroll Dashoard! is a Paymob solution. Privacy and Terms</p>
        </div>
    </div>
</form>
{%else%}

<h1>This url is not Valid or used before.</h1>
<br>
<a href="{% url 'data:main_view' %}">Home</a>
<div class="separator">

    <div class="clearfix"></div>
    <br />

    <div>
        <h1>Payroll Dashboard</h1>
        <p>©2019 All Rights Reserved. Payroll Dashoard! is a Paymob solution. Privacy and Terms</p>
    </div>
</div>
{%endif%}

{% endblock %}