{% extends 'new_base.html' %}
{% load static %}
{% block gentellacss %}
    <link rel="stylesheet" href="{% static 'gentella/iCheck/skins/flat/green.css'%}">
    <link rel="stylesheet" href="{% static 'gentella/switchery.min.css'%}">
    <style>
        .error_span{
            color: red;
        }
    </style>
{% endblock %}
{% block title %}Settings{% endblock %}
{% block body %}
        <form action="" method="post">
    </form>

    <p>Please follow the steps to setup your payroll settings.</p>
    <div id="disb_widget" class="form_wizard wizard_horizontal">
      <ul class="wizard_steps">
        <li>
          <a href="#step-1">
            <span class="step_no">1</span>
            <span class="step_descr">
                              Levels<br />
                              <small>Add levels for checkers</small>
                          </span>
          </a>
        </li>
        <li>
          <a href="#step-2">
            <span class="step_no">2</span>
            <span class="step_descr">
                              Makers<br />
                              <small>Add Maker users</small>
                          </span>
          </a>
        </li>
        <li>
          <a href="#step-3">
            <span class="step_no">3</span>
            <span class="step_descr">
              Checkers<br />
              <small>Add Checker users</small>
          </span>
          </a>
        </li>
        <li>
          <a href="#step-4">
            <span class="step_no">4</span>
            <span class="step_descr">
              Category<br />
              <small>Add File Specs</small>
          </span>
          </a>
        </li>
      </ul>

    <span id='non_form_errors' class="error_span"></span>
      <div id="step-1">
        
        

            <form action="." method="post" id="step_1_form">
            
                {% csrf_token %}
            
                <table class="table" id="levelform">
                    {{ levelform.management_form }}
                    {% for form in levelform.forms %}
                    {% if forloop.first %}
                    <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
            
                    {% endif %}
                    {% endfor %}
                    <tbody>
            
                        {% for form in levelform.forms %}
            
                        <tr class="level_formset_row">
                            {% for field in form.visible_fields %}
                                <td id="level_{{field.name}}">
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                    {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                    <span class="error_span"></span>
                                </td>
                                    {% endfor %}                        
                        </tr>
                             
                        {% endfor %}

                        
                    </tbody>
                </table>
            
            </form>
            
<!-- empty form -->

<table id="level_empty_form" style="display: none">
<tr class="level_formset_row"  >
    {% for field in levelform.empty_form.visible_fields %}
    <td id="level_{{field.name}}">
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
        {% for hidden in levelform.empty_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% endif %}
        {{ field.errors.as_ul }}
        {{ field }}
        <span class="error_span"></span>
    </td>
    {% endfor %}
</tr>
</table>
    

            <button id="add_level_btn" class="btn btn-success">Add another level</button>

      </div>
      <div id="step-2">
        
        <form action="." method="post" id="step_2_form">

          {% csrf_token %}

        <table class="table" id="makerform">
            {{ makerform.management_form }}
            {% for form in makerform.forms %}
                {% if forloop.first %}
                <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                {% endif %}
            {% endfor %}
            <tbody>

            {% for form in makerform.forms %}

                <tr class="maker_formset_row" >
                    {% for field in form.visible_fields %}
                        <td id="maker_{{field.name}}">
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                            <span class="error_span"></span>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
                </tbody>
        </table>

        </form>

<!-- empty form -->

<table id="maker_empty_form" style="display: none">
    <tr class="maker_formset_row">
        {% for field in makerform.empty_form.visible_fields %}
        <td id="maker_{{field.name}}"> 
            {# Include the hidden fields in the form #}
            {% if forloop.first %}
            {% for hidden in makerform.empty_form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% endif %}
            {{ field.errors.as_ul }}
            {{ field }}
            <span class="error_span"></span>
        </td>
        {% endfor %}
    </tr>
</table>
<button id="add_maker_btn" class="btn btn-success">Add family member</button>
      </div>
      <div id="step-3">
        
        <form action="." method="post" id="step_3_form">

          {% csrf_token %}

        <table class="table" id="checkerform">
            {{ checkerform.management_form }}
            {% for form in checkerform.forms %}
                {% if forloop.first %}
                <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                {% endif %}
            {% endfor %}
            <tbody>

            {% for form in checkerform.forms %}

                <tr class="checker_formset_row">
                    {% for field in form.visible_fields %}
                        <td id="checker_{{field.name}}">
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                            <span class="error_span"></span>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
                </tbody>
        </table>

        </form>

<!-- empty form -->

<table id="checker_empty_form" style="display: none">
    <tr class="checker_formset_row">
        {% for field in checkerform.empty_form.visible_fields %}
        <td id="checker_{{field.name}}">
            {# Include the hidden fields in the form #}
            {% if forloop.first %}
            {% for hidden in checkerform.empty_form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% endif %}
            {{ field.errors.as_ul }}
            {{ field }}
            <span class="error_span"></span>
        </td>
        {% endfor %}
    </tr>
</table>
<button id="add_checker_btn" class="btn btn-success">Add family member</button>
      </div>
       
      
      <div id="step-4">
            <form action="." method="post" id="step_4_form" class="form-horizontal form-label-left">

                {% csrf_token %}

                            {% for field in filecategoryform.visible_fields %}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label|capfirst }}</label>
                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                        {% ifequal field.name "has_header" %}
                                            <div class="">
                                            <label>
                                                {{ field }}
                                            </label>
                                            </div>
                                        {% else %}
                                            {{ field.errors.as_ul }}
                                            {{ field }}
                                        {% endifequal %}
                                        <span id="category_error_{{field.name}}" class="error_span"></span>
                                    </div>
                                </div>


                        {% endfor %}
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
<script src="{% static 'gentella/jquery.smartWizard.js' %}"></script>
<script src="{% static 'gentella/switchery.min.js' %}"></script>

<script type="text/javascript">

    function increase_height() {
        let oldheight = $('.stepContainer').css('height');
        oldheight = parseInt(oldheight.replace("px", ""));
        let newheight = oldheight + 50;
        $('.stepContainer').height(newheight + "px");
    }

    $('#add_level_btn').click(function () {
        let form_idx = $('#id_level-TOTAL_FORMS').val();
        if(form_idx === '3'){
            $(this).hide()
        }
        
        $('#step-1 #levelform tbody').append($('#level_empty_form tbody').html().replace(/__prefix__/g, form_idx));
        $('#id_level-TOTAL_FORMS').val(parseInt(form_idx) + 1);

        increase_height()
         

    });

    $('#add_maker_btn').click(function () {
        let form_idx = $('#id_maker-TOTAL_FORMS').val();
        
        $('#step-2 #makerform tbody').append($('#maker_empty_form tbody').html().replace(/__prefix__/g, form_idx));
        $('#id_maker-TOTAL_FORMS').val(parseInt(form_idx) + 1);

        increase_height()

    });

    $('#add_checker_btn').click(function () {
        
        let form_idx = $('#id_checker-TOTAL_FORMS').val();

        $('#step-3 #checkerform tbody').append($('#checker_empty_form tbody').html().replace(/__prefix__/g, form_idx));
        $('#id_checker-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        
        increase_height()
    });

    function stepSubmit(step_no){
        var bool_return = false;      
        let step_no_string = String(step_no)
        
        var form_data = $("#step_"+ step_no_string +"_form").serialize();

        
        $.ajax({
            type:'post',
            url:"{% url 'users:settings' %}",
            async: false,
            data:form_data+"&step=" + step_no_string,
            success : function(data, text, xhr){
                
                $('.error_span').html('');

                if (step_no==4) {
                    if (xhr.status == 278) {
                        window.location.href = xhr.getResponseHeader("Location");
                    }
                    if(!data.valid){
                        for (let field_name in data.errors) {
                            let err_value = data.errors[field_name][0]
                            $('#category_error_'+field_name).html(err_value)
                            
                        }
                    }
                }
                if(!data.valid && step_no != 4){

                    
                    
                    if(data.non_form_errors && data.non_form_errors[0]){
                        $('#non_form_errors').html(data.non_form_errors[0])
                    }

                    let prefix;
                    if (step_no == 1)
                        prefix = 'level';
                    else if(step_no==2)
                        prefix = 'maker';
                    else if (step_no == 3)
                        prefix = 'checker';
                    else
                        return;
                      
                    let rows = $('#' + prefix + 'form' + ' .' +  prefix + '_formset_row');
                    for(let i in data.errors){
                        for(let field_name in data.errors[i]){
                            let err_value = data.errors[i][field_name][0]
                            $(rows[i]).find('#' + prefix + '_'+ field_name + ' span').html(err_value)
                        }
                    }
                    
                }
                
                bool_return = data.valid;
                console.log('success', bool_return)
                return true;
            }

        });
        console.log("here");
        return bool_return;
    }
        $(document).ready(function () {
            let form_idx = $('#id_level-TOTAL_FORMS').val();
            if (form_idx === '4') {
                $('#add_level_btn').hide()
            }
 
            let step = parseInt('{{step}}');
            var wizard = $('#disb_widget').smartWizard({
                selected: step,
                onLeaveStep:leaveAStepCallback,
                onFinish: onFinishCallback

            });
            if(step>0){
                let step_real = step+1
                $('#disb_widget').smartWizard('enableStep', step_real-1);
                if(step_real-1 !== 0)
                    $('#disb_widget').smartWizard('enableStep', step_real - 2);
            }   
            $('#loading-image').bind('ajaxStart', function(){
                $(this).show();
            }).bind('ajaxStop', function(){
                $(this).hide();
            });
            var oldheight = $('.stepContainer').css('height');
            oldheight = parseInt(oldheight.replace("px", ""));
            var newheight = oldheight+20;
            $('.stepContainer').height(newheight+"px");

            function onFinishCallback(objs, context){
                
                return stepSubmit(4);
            }

            function leaveAStepCallback(obj, context){
                console.log('context', context)
                if(context.fromStep > context.toStep){
                    console.log(context)
                    window.location.href =  "{% url 'users:settings' %}" + '?step=' + String(context.toStep-1)
                
                }
                else    
                    return stepSubmit(context.fromStep);
                  // return false to stay on step and true to continue navigation
            }

        });

</script>
{% endblock %}