{% extends 'head_base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans 'Forgot Password' %} {% endblock %}
{% block customcss %}
<link href="{% static 'css/vodafone_login.css' %}" rel="stylesheet">
{% endblock %}

{% block body_content %}
<body class="login">
<div id="root">
  <div class="app en">
    <section class="login">
      <div class="row mainRow row">
        <div class="col-sm-12 col-md-4 remove-padding">
          <img id="left-side-logo" src="{% static 'img/vf_logo.png' %}">
        </div>
        <div class="col-sm-12 col-md-8 remove-padding">
          <div class="rightBgSignIn">
            <div class="signInContent">
              <div class="titleAlign alignSign">
                <h3 class="titlepage">{% trans 'Forgot Password' %}</h3>
              </div>
              <p class="creatTitle"></p>
              <div class="formBg">
                <form class="forgotPasswordForm" action="." method="post">
                  {% csrf_token %}
                  {% if form.non_field_errors %}
                    <div class="row">
                      <div style="color:red;" class="input-field col-sm-12 col-md-12 col-lg-12">
                        {{form.non_field_errors}}
                      </div>
                    </div>
                  {% endif %}
                  {% if success %}
                  <div>
                    <span style="color:red;">{% trans "An email with recovery steps has been sent to the user's Email.<br>If the user is registered on the System." %}</span>
                  </div>
                  <br>
                  <div class="clearfix"></div>
                  {% endif %}
                  <div class="row">
                    <div class="input-field col-sm-12 col-md-12 col-lg-12">
                      <div>
                        <input type="email" placeholder="Email" class="form-control" required name="email">
                      </div>
                    </div>
                    <div class="input-field passwordMargin col-sm-12 col-md-12 col-lg-12">
                      <div>
                        <input type="email" placeholder="Confirm Email" class="form-control" required name="email2">
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <div class="loader_signin_btn">
                        <button id="login" class="signBtn" type="submit">
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- start js section  -->
<script src="{% static 'gentella/jquery.min.js' %}"></script>
<!-- handle loading stuff -->
<script>
    console.log('loading shown')
    $('.loading').show();
    $(window).load(function () {
      // PAGE IS FULLY LOADED
      $(".loading").hide();
      console.log('loading hidden')
    });

    $(document).ajaxStart(function () {
      console.log('start ajax loading')
      $('.loading').show();
    });
    $(document).ajaxStop(function () {
       console.log('end ajax loading')

      $(".loading").hide();
    });
  </script>
</body>
{% endblock %}
