{% extends 'new_base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load custom_tags %}

{% block title %}{% trans 'Change Pin' %}{% endblock %}

{% block body %}


        <div class="page-title">
            <div class="title_left">
                <h3>{% trans 'Change Pin' %} </h3>
            </div>


        <div class="clearfix"></div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                {{ form.non_field_errors }}
                <div class="panel-body">
                    <form action="" method="post" class="form-horizontal" >

                          {% csrf_token %}
                        {% for field in form.visible_fields %}
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label|capfirst }}</label>
                                    <div class="col-md-6 col-sm-9 col-xs-12">
                                            {{ field.errors.as_ul }}
                                            {{ field }}
                                    </div>
                                </div>
                        {% endfor %}
                        <center><h4>{{ message }}</h4></center>
                        <input type="submit" value="submit" class="btn btn-upload btn-success pull-{{'right'|invert_dir:LANGUAGE_CODE}}">
                    </form>


                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

    </div>
{% endblock %}